<!DOCTYPE  html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/yg.union.js"></script>	
<script type="text/javascript">
	$(document).ready(function(){
		#if($!config.websiteLogo)
			$("#yg_logo_tab .logo").css("background","none");
		#end	
		$("div[name='mycart_btn']").mouseover(function(){
			
			$("#shoppingcartContainer").find("div[name='abs']").show().mouseover(function(){
				$(this).show();				
			}).mouseout(function(){
				$(this).hide();
			}); 
			jQuery.ajax({
				type:'POST',
				data:"",
				url:"$!webPath/cart_view.htm",
				success:function(data){
					$("#cartBox").html(data);
				},
				error:function(){
					alert("检查内部错误");
				}
			});
			
		}).mouseout(function(){
			$("#shoppingcartContainer").find("div[name='abs']").hide();
		});
	});
	
	function deleteCart(id){
		jQuery.ajax({
			type:'POST',
			data:{"delGoodsCartId":id},
			url:"$!webPath/cart_view.htm",
			success:function(data){
				$("#cartBox").html(data);
			},
			error:function() {
				alert("请检查内部错误");
			}
		});
	}
	
	function search_form(keyword,type) {
		
		var keyword=arguments[0];
		var type=arguments[1];
		if(keyword!=""&&keyword!=undefined){
		   jQuery("#keyword").val(keyword);
		}
		if(type!=""&&type!=undefined){
		    jQuery("#type").val(type);
		}
		jQuery("#J_TopSearchForm").submit();	
		jQuery("#keyword").val("");
	}
</script>
</head>
<body> 
<div class="yg_header" id="yg_header"> 
  <div id="yg_logo_tab" class="clearfix ygwrap">
    <div class="logo fl"> 
    #if($!config.websiteLogo) 
    <a href="$!webPath/index.htm"> 
     <img src="$!imageWebServer/$!config.websiteLogo.path/$!config.websiteLogo.name" border="0" width="203" height="89" />
    </a>
    #end
    </div>
    <form action="$!webPath/search.htm" name="" id="J_TopSearchForm" method="get" class="search_box clearfix fl">
      <div class="zs_left fl"></div>
      <div class="input_box fl">
        <input type="text" id="keyword" name="keyword" maxlength="80" class="search flc" autocomplete="off">
        <input type="hidden" id="type" name="type" value="$!type"/>
        <ul class="searchmenu" style="display: none;">
        </ul>
      </div>
      <div class="zs_right fl"></div>
      <div class="search_btn fl"></div>
       <div class="search_hot">
	    #foreach($info in $!CommUtil.splitByChar("$!config.hotsearch",","))
	    	 <a href="javascript:void(0);" onclick="search_form('$!info','goods')">$!info</a> |  
	   	#end
    </div>
    </form> 
    <div class="cart_buttom">
    	<a style="width:61px; float:left" href="$!webPath/buyer/buyer_order.htm"><img src="$!webPath/assets/img/dda.png" /></a>
        <a class="head_cart_num" href="$!webPath/cart/cart_index.htm">
        	<span id="pordcount" style="color:#fff; font-size:13px">$!countTools.getCartCount($!cookies)</span> 件
        </a>
    </div>
  </div>
  <div class="yg_sites_tabtn"></div> 
</div> 
</body>