<div class="border3px" style="margin-top:45px"></div>
<div class="yHeader" style="margin-top:8px"> 
  <!-- 导航   start  -->
  <div class="yNavIndex">
    <div class="pullDown" style="margin: 0 auto; width:1200px">
      <h2 class="pullDownTitle" id="pullDownTitle" onclick="javascript:location.href='$!webPath/goods_class.htm'">所有商品分类</h2>
        
    </div>
    
    <ul class="yMenuIndex" style="margin-left:200px">
      <li><a href="$!webPath/index.htm" class="yMenua">首页</a></li>
      <!--<li><a href="$!webPath/angel_exchange.htm">互助兑</a></li>
      <li><a href="$!webPath/exchange/exchange_index.htm">会员区</a></li> -->
       <li><a href="http://zhibo.amall.com/"  style="color:#af3d3d" target="_blank">直播购</a></li>
      <li><a href="$!webPath/amall_xqt.htm">新奇特</a></li>
      <li><a href="$!webPath/specialty.htm">土特产</a></li>
      <li><a href="$!webPath/over_shopping.htm">海外购</a></li> 
      <li><a href="$!webPath/area_sale.htm">特卖场</a></li>
      <li><a href="$!webPath/amall_member2.htm" >礼品区</a></li>      
    </ul>
  </div>
  <!-- 导航   end  --> 
</div>