<!DOCTYPE  html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="menuDIV">
	<div class="w1200">
    	<ul class="t_menu_list">
        	<li><a href="$!webPath/index.htm">首页</a></li>
            <li class="curr"><a href="$!webPath/bulkitem.htm">单品团</a></li>
            <li><a href="$!webPath/groupbrand.htm">品牌团</a></li>
           <!--  <li><a href="">限时团</a></li>
            <li><a href="">往期回顾</a></li>
            <li><a href="">明日预告</a></li> -->
        </ul>
    </div>
</div>


</body>
</html>