<script type="text/javascript" src="$!webPath/assets/js/otherBanner/index_banner_menu_other.js"></script>

<div class="yHeader"> 
  <!-- 导航   start  -->
  <div class="yNavIndex">
    <div class="pullDown">
      <h2 class="pullDownTitle" id="pullDownTitle"  style="width:190px;background-color: #7f0000" onclick="javascript:location.href='$!webPath/goods_class.htm'">所有商品分类</h2>
    </div>
    <ul class="yMenuIndex">
      <li><a href="$!webPath/angel_exchange.htm" style="color:#fff">兑换首页</a></li>
      <li><a href="$!webPath/angel_exchange_new.htm" style="color:#fff">最新揭晓</a></li>
      <li><a href="$!webPath/angel_exchange_show.htm" style="color:#fff">晒单有奖</a></li>
      <li><a href="#" style="color:#fff">新手指南</a></li>
      <li><a href="$!webPath/angel_exchange_share.htm" style="color:#fff">推广赚钱</a></li>
    </ul>
  </div>
  <!-- 导航   end  --> 
</div>