<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/duigou.css">
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
</head>
<body>
<div class="duigou_head">
	<div clsss="d_head_logo">
		<img src="$webPath/assets/img/ydg_logo21.png" style="cursor:pointer" onclick="javascript:window.location.href='$!webPath/index.htm'"/>
	</div>
	<div class="head_number"> 
	    <ul> 
		    <li class="F-number-bg"><span class="gray9">累计</span> 
		    	<span class="f-fn-size" id="spHeadTotalNum"></span><span class="gray9">人次参与兑换</span>
		    </li>
	    </ul>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="http://pc5.amallcdn.cn/assets/js/12vb.js"></script> 