<div style="width:990px; margin: 0 auto; margin-top: 30px; margin-bottom: 15px">
  <div id="yg_logo_tab" class="clearfix ygwrap" style="padding-top:10px; padding-bottom:10px;width:990px; margin: 0 auto;">
    <a href="$!webPath/index.htm"><div class="s_logo fl"> </div></a> 

    <form action="" onsubmit="" name="" id="J_TopSearchForm" method="get" class="search_box clearfix fl" style="margin-top:10px; float:right">
      <div class="zs_left fl"></div>
      <div class="input_box fl">
        <input type="text" id="keyword" name="keyword" maxlength="80" class="search flc" autocomplete="off">
        <ul class="searchmenu" style="display: none;">
        </ul>
      </div>
      <div class="zs_right fl"></div>
      <div class="search_btn fl"></div>
    </form>
  </div>
  <div class="yg_sites_tabtn"></div>
</div>


