<!DOCTYPE  html>
<html>
<head>
<title>品牌团  </title>
<meta charset="UTF-8"/>
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/channel.vs.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/public.css">
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/tuangou.css"> 
</head>
<body>
$!httpInclude.include("/top.htm")
$!httpInclude.include("/head.htm")
<div style="">$!httpInclude.include("/groupbrandnav.htm")</div>
$!httpInclude.include("/groupbrandbody.htm?gb_id=$!gb_id")
$!httpInclude.include("/footer.htm")
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="http://pc6.amallcdn.cn/assets/js/am_top_menu.js"></script>
</body>
</html>