<!DOCTYPE  html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/channel.vs.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/>
<script type="text/javascript" src="http://pc5.amallcdn.cn/assets/js/jquery.js" charset="UTF-8"></script>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/yg.union.js"></script>
<script type="text/javascript" src="$!webPath/assets/js/index_banner_menu.js"></script>
<style>.yMenuLCinList h3{margin-top:10px;}</style>
<script type="text/javascript">
	$(function(){		
		var lis = $(".hotbrand ul li");
		var length = lis.size();
		jQuery.each(lis,function(index,val){			
			var t = (index+1)%4;
			if(t == 0){ 
				$(this).css("margin-right","0px");
			}
		});
		 
	});
</script>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
   $(".index_nav li a").click(function(event) { 
      var index=this.name
      var id='#'+'index_'+index
     $("html,body").animate({scrollTop: $(id).offset().top}, 1000);
   });
   $(".taoba").click(function(event) { 
      var index=this.name
      var id='#'+'index_'+index
     $("html,body").animate({scrollTop: $(id).offset().top}, 1000);
   });
   function a(x,y){
	   if($('#main').offset()){
		   l = $('#main').offset().left;
		    w = $('#main').width();
		    $('#tbox').css('left',(l  + x) + 'px');
		    $('#tbox').css('top',y + 'px');
	   }
}//获取#tbox的div距浏览器底部和页面内容区域右侧的距离函数#main为页面的可视宽度
$(function() {  
    $(window).scroll(function(){
    t = $(document).scrollTop();
    if(t>500){
      $('#tbox').show();
    }else{
      $('#tbox').hide();
    }
    if(t > 50){
        $('#gotop').fadeIn('slow');
    }else{
        $('#gotop').fadeOut('slow');
    }       
})   
    a(-30,100);//#tbox的div距浏览器底部和页面内容区域右侧的距离
    $('#gotop').click(function(){ 
        $('body,html').animate({
            scrollTop: 0
        },
        800);//点击回到顶部按钮，缓懂回到顶部,数字越小越快
        return false;  
    })
});
  });
</script>
</head>
<body>
<!--  顶部    start-->

<div class="yHeader"> 
  <!-- 导航   start  -->
  <div class="yNavIndex">
    <div class="pullDown">
      <h2 class="pullDownTitle" onclick="javascript:location.href='$!webPath/goods_class.htm'">所有商品分类</h2>
      <ul class="pullDownList">
        
        #foreach($gc in $objs)
        	
        	#if($!gc.iconAcc)
        	#set($img = "$!{config.imagewebserver}/$!{gc.iconAcc.path}/$!{gc.iconAcc.name}")
        	#else
        	#set($img = "")
        	#end
	        <li name="gc_li"> 
		      <b style="margin:0;padding: 0;">
		      	<a href="$!webPath/store_goods_list.htm?gc_id=$!gc.id" target="_blank" style="line-height:36px;font-size:14px">$!gc.classname<!--<i class="fa fa-angle-right" style="float:right;line-height:70px;font-size:18px;margin-right:15px;"></i>  --></a>
		      	     <div class="wht21" style="width:160px;overflow:hidden;height:30px;">
		      	      #foreach($c_g in $gc.childs)
		      	        <!-- #foreach($c_cg in $c_g.childs)
		            	<a href="$!webPath/store_goods_list.htm?gc_id=$!c_cg.id" target="_blank" style="color:#dadada;padding:3px 10px 2px 0;height:30px;font-size:13px;font-family: tahoma,arial,\5b8b\4f53,sans-serif;text-align: left;float:left">$!c_cg.classname</a>
		            	#end -->
		            	#foreach($c_g in $gc.childs)
		            	<a href="$!webPath/store_goods_list.htm?gc_id=$!c_g.id" target="_blank" style="color:#dadada;padding:3px 10px 2px 0;height:30px;font-size:13px;font-family: tahoma,arial,\5b8b\4f53,sans-serif;text-align: left;float:left">$!c_g.classname</a>
		            	#end
		              #end
		              </div>
	          </b>
	          <!-- 下拉详细列表具体分类 -->
		      <div class="yMenuListCon" name="yMenuListCon">
		        <div class="yMenuListConin" name="classdiv" style="display:block;">
		        #foreach($c_g in $gc.childs)
		          <div class="yMenuLCinList" style="display:block;">
		            <h3 style="height:30px;line-height:30px;">
		            	<a href="$!webPath/store_goods_list.htm?gc_id=$!c_g.id" target="_blank"  style="display:block;color:#850000;font-size:15px;font-weight:500;margin-bottom:5px;">$!c_g.classname</a>
		            	<a href="$!webPath/store_goods_list.htm?gc_id=$!c_g.id" target="_blank" class="yListMore" style="color:#333;font-size:14px;">更多 ></a>
		            </h3>
		            <p style="line-height:30px;"> 
		            	#foreach($c_cg in $c_g.childs)
		            	<a href="$!webPath/store_goods_list.htm?gc_id=$!c_cg.id" target="_blank" style="color:#333;display:block;font-size:13px!important;margin-top:5px;line-height:20px;text-align: left;">$!c_cg.classname</a>
		            	#end
		            </p>
		          </div> 
		        #end
		        </div>
		   	 </div>
	        </li>
        #end
     </ul>  
         
    </div>
    <ul class="yMenuIndex"> 
     <li><a href="$!webPath/index.htm" class="yMenua">首页</a></li>
      <!--<li><a href="$!webPath/angel_exchange.htm">互助兑</a></li>
      <li><a href="$!webPath/exchange/exchange_index.htm">会员区</a></li> -->
      <li id="xu_special"><a href="$!webPath/specialty.htm">中国特产</a>
      	<ul id="ul_sub">
      		<li style="padding-top:12px;"><a href="$!webPath/amall_xqt.htm">新奇特</a></li>
      		<li><a href="$!webPath/area_sale.htm">特卖场</a></li>
      	</ul>
      </li>
      <li><a href="$!webPath/over_shopping.htm">海外精品</a></li>
       <li id="o2o"><a href="$!webPath/wealth_index.htm">实体店铺</a></li>
      <li><a href="http://zhibo.amall.com/"  style="color:#af3d3d" target="_blank">店主直播</a></li> 
      <!-- <li><a href="$!webPath/amall_xqt.htm">新奇特</a></li> -->
      <!-- <li><a href="$!webPath/area_sale.htm">特卖场</a></li> -->
      <!-- <li id="health"><a href="$!webPath/health.htm">大健康</a></li> -->
      <li><a href="$!webPath/amall_member2.htm">礼品区</a></li> 
     <!-- <li><a href="$!webPath/exchange/exchange_index.htm" target="_blank">会员中心</a></li> -->
    </ul>
   
  </div>
  <!-- 导航   end  --> 
  <div class="border3px"></div> 
</div>



 
<script type="text/javascript" src="$!webPath/assets/js/commodity.js"></script> <!--底层切换-->
<script>
 $("#o2o").click(function(e){
	e.preventDefault();
	alert("敬请期待...请先下载使用手机app");
	return false;
});
/*  $("#xu_special").hover(function(){
	 $("#ul_sub").show(); 
 },function(){
	 $("#ul_sub").hide(); 
 }); */
 $("#xu_special").mouseover(function(){
	 $("#ul_sub").show(); 
 });
 $("#xu_special").mouseout(function(){
	 $("#ul_sub").hide(); 
 });
</script>
</body>
</html>