<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/shop_index1.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/public.css" />
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/specialty.css" />


<link rel="stylesheet" href="$!webPath/assets/css/owl.carousel.css" />




</head>
<body>



$!httpInclude.include("/top2.htm")
$!httpInclude.include("/specialpricehead.htm")

<div class="shop_menu default_color">
	<div class="shop_menu_nav" style="width:990px; margin:0 auto">
        <ul>
          <li><a href="$!webPath/index.htm">首页</a></li>
          <li><a href="#">广东会场</a></li>
          <li><a href="#">湖南会场</a></li>
          <li><a href="#">山西会场</a></li>
          <li><a href="#">安徽会场</a></li>
          <li><a href="#">云南会场</a></li>
          <li><a href="#">海南会场</a></li>
          <li><a href="#">福建会场</a></li>
          <li><a href="#">广西会场</a></li>
        </ul>
	</div>
</div>

<div class="spe_w100">
	<div class="sp_banner">
	
		<div id="owl-demo" class="owl-carousel">
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称特产名称特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称特产名称特产名称特产名称特产名称特产名称</span></a>
			<a class="item" href="#"><img src="$!webPath/assets/img/sp_banner1.jpg" alt=""><b></b><span>特产名称特产名称特产名称</span></a>
		</div>
		
	</div>
</div>

<div class="spe_w100">
<div class="floor">
	<div class="floor_push"><img src="$!webPath/assets/img/sptit.png" /></div>
	<div class="push_li">
		<ul>
			<li>
				<span class="goods_name">【松茸】</span>
				<img src="$!webPath/assets/img/sp_img1.jpg" />
				<label class="title"><a href="">松茸 云南特产野生香格里拉松茸菌 </a></label>
			</li>
			<li>
				<span class="goods_name">【松茸】</span>
				<img src="$!webPath/assets/img/sp_img1.jpg" />
				<label class="title"><a href="">松茸 云南特产野生香格里拉松茸菌 </a></label>
			</li>
			<li>
				<span class="goods_name">【松茸】</span>
				<img src="$!webPath/assets/img/sp_img1.jpg" />
				<label class="title"><a href="">松茸 云南特产野生香格里拉松茸菌 </a></label>
			</li>
			<li>
				<span class="goods_name">【松茸】</span>
				<img src="$!webPath/assets/img/sp_img1.jpg" />
				<label class="title"><a href="">松茸 云南特产野生香格里拉松茸菌 </a></label>
			</li>
		</ul>
	</div>
</div>
</div>

<div class="spe_w100">
<div class="floor_index">
		<div class="floor_tit">广东馆</div>
		<div class="floor_li">
			<ul>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
				<li>
					<a href=""><img src="$!webPath/assets/img/sp_img2.jpg" /></a>
					<div>
						<span class="floor_li_name">【松茸】 云南特产野生香格里拉松茸菌 香格里拉松茸菌 香格里拉松茸菌 </span>
						<div class="goods_txt">
							<span class="goods_pri"><span>¥</span><label>138.00</label></span>
							<span class="goods_btn"><input class="" type="button" value="立即选购"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>





	



<div style="margin-top: -30px">$!httpInclude.include("/footer1.htm")</div>
	

</body>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(function(){
		var lis = jQuery(".floor_li li");
		var length = lis.size();
		jQuery.each(lis,function(index,val){			
			var t = (index+1)%4;
			if(t == 0){
				jQuery(this).css("margin-right","0px");
			}
		});
	});
</script> 


<!-- banner -->
<script type="text/javascript" src="$!webPath/assets/js/owl.carousel.js"></script>
<script type="text/javascript">
$(function(){
	$('#owl-demo').owlCarousel({
		items: 1,
		navigation: true,
		navigationText: ["上一个","下一个"],
		autoPlay: true,
		stopOnHover: true
	}).hover(function(){
		$('.owl-buttons').show();
	}, function(){
		$('.owl-buttons').hide();
	});
});
</script>
<!-- banner -->
</html>


