<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/shop_index1.css"/>
<link rel="stylesheet" type="text/css" href="$!webPath/assets/css/public.css" />
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/specialty.css" />
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/xqt.css"> 
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/goods.css" type="text/css" rel="stylesheet" />
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script>
function gotoPage(n){
	jQuery("#currentPage").val(n);
	jQuery("#ListForms").submit();
}
</script>
<script>
$(document).ready(function(e) {
     $("#ttc-wei2 li:eq(3),#ttc-wei2 li:eq(7)").css("margin-right","0");
}); 
</script>
<script type="text/javascript">
$(function(){
	$("#wei32 dd").mouseenter(function(){ 
		$(this).addClass("hover");
	}) 
	$("#wei32 dd").mouseleave(function(){
		$(this).removeClass("hover");
	}) 
}) 
</script>
<script type="text/javascript">
	$(function(){		
		var weittc = $("#wei32 dd"); 
		jQuery.each(weittc,function(index,val){//index为遍历的索引值，val为该索引的对象值			
			var t = (index+1)%4;//能被4整除
			if(t == 0){
				$(this).css("margin-right","0px");
			}
		});

	});
</script> 
<script type="text/javascript">
$(function(){
var imgWid = 0 ;
var imgHei = 0 ; //变量初始化
var big = 1.2;//放大倍数

$("#wei32 dd").hover(function(){
	
     $(this).find("img").stop(true,true);
 
     imgWid=270;imgHei=270;
     
	imgWid2 = imgWid * big;//放大后的宽度
	imgHei2 = imgHei * big;
  
    $(this).find("img").css({"z-index":2});

    $(this).find("img").animate({"width":310,"height":310,"margin-left":-20,"margin-top":-20});

 },function(){$(this).find("img").stop().animate({"width":270,"height":270,"margin-left":0,"margin-top":0,"z-index":1});});
})
</script>
</head>
<body>
$!httpInclude.include("/top.htm")   
$!httpInclude.include("/specialpricehead.htm")
<div class="shop_menu default_color">
	<div class="shop_menu_nav" style="width:1200px; margin:0 auto">
        <ul>
          <li><a href="$!webPath/specialty.htm">特产首页</a></li>
         	#if($!floorList.size()>0)
				#foreach($floor in $floorList)
					<li><a href="$!webPath/specialty_area.htm?floorId=$!floor.id">$!floor.floorname</a></li>
				#end
			#end
        </ul>
	</div>
</div>  
 
<div class="w100 bg_fff" style="width:1200px; margin:10px auto"> 
    <div class="slideBox">
      <div class="hd" style="margin-top:55px;">
        <ul>
        #if($obj)
  		#foreach($adv in $obj.advs)
          <li></li>
        #end
        #end
        </ul>
      </div>
      <div class="bd">
        <ul id="wei21tc">
        #if($obj)
  		#foreach($adv in $obj.advs)
          <li style="background: url($!{config.imagewebserver}/$!adv.adAcc.path/$!adv.adAcc.name) 50% 0px no-repeat;"></li>
        #end
        #end  
        </ul>
      </div>
    </div> 
</div>
<div class="w100 bg_fff" style="margin-top:-20px;">
<form action="$!webPath/specialty_area.htm?floorId=$!floor.id" method="get" id="ListForm">
<input type="hidden" name="floorId" value="$!floor.id" id="floorId"/>
 
  <div class="w1200 we21">  
    <div class="hwfloor21 theme1"> 
      <div class="ttc-weil">
      	<span class="ttc-wei1" style="width: 12.4%;"><div id="loudb"></div>$!floor.floorname</span>
      	<span class="ttc-wei0">
      			#foreach($area in $!floor.areas)
      				<a href="$!webPath/specialty_province.htm?areaId=$!area.id">$!area.areaname</a>
      			#end
      	</span>
      </div>
      <!-- 排序 -->
      <div class="allgoods" style="margin-top:14px;"> 
    <div class="brandsort_screen" id="search_bar"> 
   <div class="brandsort_sort"> 
    <a href="javascript:void(0);" class="sort_a this" orderby="" ordertype="asc">默认排序</a> 
    <a href="javascript:void(0);" class="sort_a" orderby="goods_salenum" ordertype="desc"> <i class="sort_a1">销量</i></a> 
    <a href="javascript:void(0);" class="sort_a" orderby="goods_collect" ordertype="desc"> <i class="sort_a1">人气</i></a> 
    <a href="javascript:void(0);" class="sort_a kkp" orderby="goods_price" ordertype="asc"> <i class="sort_a1">价格</i></a> 
    <div id="kkm" style="display:none;position:absolute;left:177px;background:#FFF;z-index:999999;"> 
     <a href="javascript:void(0);" class="sort_a kkp1" orderby="goods_price" ordertype="asc"> <i class="sort_a1 bbc">价格从低到高</i></a> 
     <a href="javascript:void(0);" class="sort_a kkp2" orderby="goods_price" ordertype="desc"> <i class="sort_a1">价格从高到低</i></a>  
    </div> 
    <input type="hidden" name="orderBy" value="orderBy" id="orderBy" /> 
    <input type="hidden" name="orderType" value="orderType" id="orderType" /> 
   </div> 
   <div class="brandsort_fineprice"> 
    <div class="brandsort_price_top"> 
     <input placeholder="&yen;" id="store_price_begin" value="$!store_price_begin" type="text" title="按照价格区间筛选 最低价" class="brandsort_price_input" /> 
     <i>-</i> 
     <input placeholder="&yen;" id="store_price_end" value="$!store_price_end" type="text" title="按照价格区间筛选 高价" class="brandsort_price_input" /> 
    </div> 
    <div class="brandsort_price_bottom" style="display: none"> 
     <a href="javascript:void(0);" class="brandsort_btn_com">确定</a> 
    </div> 
   </div> 
  </div>
  </div>
        <dl id="wei32">
        	#if($!objs.size()>0)
        		#foreach($obj in $objs)
          <dd>
          <div class="border_top"></div><div class="border_right"></div><div class="border_bottom"></div><div class="border_left"></div>
          	#set($gmp = $!obj.goodsMainPhoto)
          	#set($goods_url="$!webPath/goods_$!{obj.id}.htm")
          	<a href="$!goods_url" title="$obj.goodsName">
            	<span class="h_list_img1"><img src="$!{config.imagewebserver}/$!{gmp.path}/$!{gmp.name}" /></span>
                <span class="special_span">$!CommUtil.substring("$obj.goodsName",18)</span>
                <span class="special_span in_goods_price" style="margin-top:0;">
                	#if($!obj.goodsCurrentPrice)
          				<i>¥</i>$!obj.goodsCurrentPrice 
          				#else
          				<i>¥</i>$!obj.goodsPrice
          				#end 
          		</span>
          		 <p class="goodsPrice_box">
                <span class="in_goodsC_price">¥$!obj.goodsPrice</span>
          				<span class="goodSalenum">销量$!obj.getGoodsSalenum</span>
          		</p>
            </a>
          </dd>
          		#end
          	#end	
        </dl>
    </div>
	
  </div>
  </form>
  <form action="$!webPath/specialty_area.htm?floorId=$!floor.id" method="get" id="ListForm_price">
  	<input type="hidden" name="floorId" value="$!floor.id" id="floorIds"/>
  	<input type="hidden" name="store_price_begin" id="store_price_begin_1"/>
  	<input type="hidden" name="store_price_end" id="store_price_end_1"/>
</form>
   <!--分页开始-->
   <form action="$!webPath/specialty_area.htm?floorId=$!floor.id" method="get" id="ListForms">
      <input type="hidden" name="floorId" value="$!floor.id" id="floorId"/>
     <!--  <input type="hidden" name="orderBy" value="goods_average" id="goods_average"/>
      <input type="hidden" name="orderType" value="desc" id="desc"/> -->
      <input type="hidden" name="orderBy" value="" id="orderByPage"/> 
      <input type="hidden" name="orderType" value="" id="orderTypePage"/>
      <input type="hidden" name="store_price_begin" value="" id="store_price_begin_page" />
      <input type="hidden" name="store_price_end" value="" id="store_price_end_page" />
        <div style="width:1200px;margin:0 auto;">        
	    <div class="bottom_page" style="width:1200px;margin:0 auto;">
			<input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
			$!gotoPageFormHTML		    
		</div>
		</div>
	</form>
	  <!--分页结束-->
</div> 
  
<script type="text/javascript" src="http://pc6.amallcdn.cn/assets/js/am_top_menu.js"></script>
<script src="$!webPath/assets/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script type="text/javascript">
    $(".slideBox,.slideBox2").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,});
  </script>
<script type="text/javascript" src="$!webPath/assets/js/animatescroll.js"></script><!-- 顺序别乱动哈 ，必须放低部-->

$!httpInclude.include("/footer.htm")
<script type="text/javascript"> 
$(document).ready(function(){function GetQueryString(name){var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");var r = window.location.search.substr(1).match(reg);if(r!=null)return  unescape(r[2]); return null;}
var orderBy=GetQueryString("orderBy");var orderType=GetQueryString("orderType");var store_price_begin=GetQueryString("store_price_begin");var store_price_end=GetQueryString("store_price_end");
if(orderBy=="addTime"){$(".brandsort_sort a").eq(0).addClass("this").siblings('a').removeClass('this');}
if(orderBy=="goods_salenum"){$(".brandsort_sort a").eq(1).addClass("this").siblings('a').removeClass('this');}
if(orderBy=="goods_collect"){$(".brandsort_sort a").eq(2).addClass("this").siblings('a').removeClass('this');}
if(orderBy=="goods_price"){$(".brandsort_sort a").eq(3).addClass("this").siblings('a').removeClass('this');}
if(orderBy=="goods_price" && orderType=="asc"){$(".kkp i").addClass("bbc");}
if(orderBy=="goods_price" && orderType=="desc"){$(".kkp i").removeClass("bbc");}
if(orderBy=="goods_salenum"){
	$("#orderByPage").val(orderBy);
	$("#orderTypePage").val(orderType);
}
if(orderBy=="goods_collect"){
	$("#orderByPage").val(orderBy);
	$("#orderTypePage").val(orderType);
}
if(orderBy=="goods_price"){
	$("#orderByPage").val(orderBy);
	$("#orderTypePage").val(orderType);
}
if(store_price_begin==store_price_begin || store_price_end==store_price_end){
	$("#store_price_begin_page").val(store_price_begin);
	$("#store_price_end_page").val(store_price_end);
}
$(".brandsort_sort .kkp").hover( function(){
     $("#kkm").show();
},function(){
	$("#kkm").hide();  
});
$("#kkm").hover(function(){
	$("#kkm").show();
},function(){
	$("#kkm").hide();  
});
$(".brandsort_price_top").hover( function(event){
     $(".brandsort_price_bottom").show();  
},function(){
	$(".brandsort_price_bottom").hide();  
});
$(".brandsort_price_bottom").hover( function(event){
    $(".brandsort_price_bottom").show();  
},function(){
	$(".brandsort_price_bottom").hide(); 
});
 
}); 
$('.brandsort_btn_com').click(function(){
	var store_price_begin=$('#store_price_begin').val();
	var store_price_end=$('#store_price_end').val();
	var orderBy = jQuery('.kkp1').attr("orderBy");
	var orderType = jQuery('.kkp1').attr("orderType");
	console.log(orderType);
	var gc_id=jQuery("#gc_id").val();
	if(store_price_begin=="" && store_price_end==""){
		/* $("#store_price_begin").css('border','1px solid #f00');
		$("#store_price_end").css('border','1px solid #f00'); */
		return false;
	}else{
		$("#store_price_begin_1").val(store_price_begin);
		$("#store_price_end_1").val(store_price_end);
		$("#orderBy").val(orderBy);
		$("#orderType").val(orderType);
		$("#gc_id").val(gc_id);
		$("#ListForm_price").submit();
	}
});
/* 按回车键 提交数据*/
$("#store_price_begin").keydown(function(e){
	if(e.keyCode==13){
		var store_price_begin=$('#store_price_begin').val();
		var store_price_end=$('#store_price_end').val();
		var orderBy = jQuery('.kkp1').attr("orderBy");
		var orderType = jQuery('.kkp1').attr("orderType");
		var gc_id=jQuery("#gc_id").val();
		if(store_price_begin=="" && store_price_end==""){
			return false;
		}else{
			$("#store_price_begin_1").val(store_price_begin);
			$("#store_price_end_1").val(store_price_end);
			$("#orderBy").val(orderBy);
			$("#orderType").val(orderType);
			$("#gc_id").val(gc_id);
			$("#ListForm_price").submit();
		}
	}
});
$("#store_price_end").keydown(function(e){
	if(e.keyCode==13){
		var store_price_begin=$('#store_price_begin').val();
		var store_price_end=$('#store_price_end').val();
		var orderBy = jQuery('.kkp1').attr("orderBy");
		var orderType = jQuery('.kkp1').attr("orderType");
		var gc_id=jQuery("#gc_id").val();
		if(store_price_begin=="" && store_price_end==""){
			return false;
		}else{
			$("#store_price_begin_1").val(store_price_begin);
			$("#store_price_end_1").val(store_price_end);
			$("#orderBy").val(orderBy);
			$("#orderType").val(orderType);
			$("#gc_id").val(gc_id);
			$("#ListForm_price").submit();
		}
	}
});
//排序
jQuery(".brandsort_sort a").click(function(){
	   var orderBy = jQuery(this).attr("orderBy");
	   var orderType = jQuery(this).attr("orderType");
	   var floorId=$("#floorId").val();
	   var gc_id=jQuery("#gc_id").val();
	   $("#gc_id").val(gc_id);
	   $("#orderBy").val(orderBy);
	   $("#orderType").val(orderType);
	   $("#ListForm").submit();
});
</script>
<script>
    $('.bottom_page a').attr("orderBy","goods_average");
    $('.bottom_page a').attr("orderType","desc");
	$('.bottom_page a').click(function(){
		var orderby=$(this).attr("orderBy");
		var orderType=$(this).attr("orderType");
		var floorId=$("#floorId").val();
		$("#orderBy").val(orderBy);
		$("#orderType").val(orderType);
		$("#ListForms").submit();
	});
</script>
</body>
</html> 

