<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">  
<title>天使AmallO2O创富</title> 
<link rel="stylesheet" type="text/css" href="$!webPath/assets/css/area_sale.css" media="all">
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/shop_index1.css"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/public.css" />
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/specialty.css" />
<link rel="stylesheet" type="text/css" href="$!webPath/assets/css/hwa.css" />
<style>.shop_menu_nav li a{font-size:15px;padding:0 16px;}</style>
</head>
<body>  
$!httpInclude.include("/top.htm")   
$!httpInclude.include("/specialpricehead.htm")
<div class="shop_menu default_color shop_menu2">
	<div class="shop_menu_nav" style="width:1200px; margin:0 auto">
        <ul class="area_nav">
           <li><a href="#">创富首页</a></li>
		   <li><a href="#">旅游酒店</a></li>
		   <li><a href="#">运动健身</a></li>
		   <li><a href="#">美食餐饮</a></li>
		   <li><a href="#">生活百货</a></li>
		   <li><a href="#">休闲娱乐</a></li>
		   <li><a href="#">美容养生</a></li>
		   <li><a href="#">医疗健康</a></li>
		   <li><a href="#">母婴亲子</a></li>
		   <li><a href="#">教育培训</a></li>
		   <li><a href="#">摄影写真</a></li>
		   <li><a href="#">家居建材</a></li>
		   <li><a href="#">汽车用品</a></li>
        </ul>
	</div>
</div>   
   
<div id="main" class="main w1170">  

    <div class="slideBox"> 
      <div class="hd" style="margin-top:-260px;">
        <ul>
           <li class="on"></li>
           <li class=""></li>
           <li class=""></li>
        </ul>
      </div>
      
      <div class="bd">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:1920px">
        <ul>
        <li style="background: url(http://pig.amall.com/upload/mvert/cc8f6f07-9ed8-4653-be72-2553439d42dc.jpg) 50% 0px no-repeat;"></li> 
        <li style="background: url(http://pig.amall.com/upload/mvert/4b520140-0bda-4fe1-9a95-f1fc23189b15.jpg) 50% 0px no-repeat;"></li> 
        <li style="background: url(http://pig.amall.com/upload/mvert/37a4dc96-d1cf-4429-9ec5-9d13dbd54280.jpg) 50% 0px no-repeat;"></li> 
        </ul>
       </div>
      </div>
      
    </div>
    
    <!-- 轮播end -->
  <div class="main-inner"> 
  
        <div class="goods">
            <h3 class="wea_title">热门店铺</h3>
            <div id="goods_wrap" class="goods-wrap">
                <div id="topic_pre"  class="pre"></div>
                <div id="topic_next"  class="next"></div>
                <div class="goods-inner shop_brand">
                    <ul style="width: 4000px; margin-left: 0px;" class="goods-slide-list clearfix" id="adv1">
                    <a href="$!webPath/store.htm?id=1" target="_top" title="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">         															          				
                         <li class="goods-item shop_li" id="J_bc_120505754" data-pid="120505754" data-brand="843089">
                             <span class="goods-tip-5 goods-tip"></span>
                                <img src="http://139.196.150.190/upload/store/1/7f16c214-6e25-4196-8328-56820bd78389.png" alt="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                              <div class="goods-info"> 
                                <p class="shop-name">麻辣鸡丝酷装店 </p>
                                <p class="shop_leval grade-star g-star5"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address">广东省深圳市罗湖区翠竹街道水库129栋104室</span>       
                                </p>
                            </div>
                        </li>
                      </a>
                      <a href="$!webPath/store.htm?id=1" target="_top" title="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                       <li class="goods-item shop_li" id="J_bc_120505754" data-pid="120505754" data-brand="843089">
                             <span class="goods-tip-5 goods-tip"></span>
                                <img src="http://139.196.150.190/upload/store/1/7f16c214-6e25-4196-8328-56820bd78389.png" alt="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                              <div class="goods-info"> 
                                <p class="shop-name">麻辣鸡丝酷装店 </p>
                                <p class="shop_leval grade-star g-star5"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address">广东省深圳市罗湖区翠竹街道水库129栋104室</span>       
                                </p>
                            </div>
                        </li>
                      </a>
                      <a href="$!webPath/store.htm?id=1" target="_top" title="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                      <li class="goods-item shop_li" id="J_bc_120505754" data-pid="120505754" data-brand="843089">
                             <span class="goods-tip-5 goods-tip"></span>
                                <img src="http://139.196.150.190/upload/store/1/7f16c214-6e25-4196-8328-56820bd78389.png" alt="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                              <div class="goods-info"> 
                                <p class="shop-name">麻辣鸡丝酷装店 </p>
                                <p class="shop_leval grade-star g-star5"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address">广东省深圳市罗湖区翠竹街道水库129栋104室</span>       
                                </p>
                            </div>
                        </li>
                      </a>
                      <a href="$!webPath/store.htm?id=1" target="_top" title="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                      <li class="goods-item shop_li" id="J_bc_120505754" data-pid="120505754" data-brand="843089">
                             <span class="goods-tip-5 goods-tip"></span>
                                <img src="http://139.196.150.190/upload/store/1/7f16c214-6e25-4196-8328-56820bd78389.png" alt="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                              <div class="goods-info"> 
                                <p class="shop-name">麻辣鸡丝酷装店 </p>
                                <p class="shop_leval grade-star g-star5"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address">广东省深圳市罗湖区翠竹街道水库129栋104室</span>       
                                </p>
                            </div>
                        </li>
                      </a>
                      <a href="$!webPath/store.htm?id=1" target="_top" title="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                      <li class="goods-item shop_li" id="J_bc_120505754" data-pid="120505754" data-brand="843089">
                             <span class="goods-tip-5 goods-tip"></span>
                                <img src="http://139.196.150.190/upload/store/1/7f16c214-6e25-4196-8328-56820bd78389.png" alt="倩碧唇膏口红 甜心撞色小方唇膏棒 持久保湿滋润 女 多色可选">
                              <div class="goods-info"> 
                                <p class="shop-name">麻辣鸡丝酷装店 </p>
                                <p class="shop_leval grade-star g-star5"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address">广东省深圳市罗湖区翠竹街道水库129栋104室</span>       
                                </p>
                            </div>
                        </li>
                      </a>       
    			</ul>
                </div>
            </div> 
        </div>       
       
		
        <div class="category">
            <div id="category_inner" class="category-inner"> 
            <div class="category-item clearfix category-beauty" page-data="1" id="1001" style="padding-top: 62px;margin-top:-62px;">
    	   <div class="category-item-title clearfix">
            <h3 class="category-item-title-text">美食</h3>
            <div class="xu_more">
            	<a href="$!webPath/wealth_index_list.htm" class="xu_moreText">更多&gt;&gt;</a>
            </div>
           </div>
           
        <div class="category-item-left">
            <div class="category-item-bottom">
                <div class="category-slide">
                    <ul style="width: 1168px; margin-left: 0px;border:1px solid #ddd;border-right:none;" class="category-slide-list clearfix">    	          				 
                        <a href="$!webPath/store.htm?id=2" target="_top" title="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅"> 
                        <li class="wealth_li">
                           <img src="http://139.196.150.190/upload/store/2/b99efae1-9d7f-471a-a045-2d86fff978de.jpg" alt="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅" style="opacity: 1;">
                            <div class="goods-info">
                                <p class="shop-name shop-name2">祈祷畅冬的科技馆</p>
                                <p class="shop_leval grade-star g-star5 shop-leval2"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address shop_address2">广东省广州市越秀区广卫路10号</span>       
                                </p>
                            </div>
                        </li>
                        </a>
                        <a href="$!webPath/store.htm?id=2" target="_top" title="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅"> 
                        <li class="wealth_li">
                           <img src="http://139.196.150.190/upload/store/2/b99efae1-9d7f-471a-a045-2d86fff978de.jpg" alt="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅" style="opacity: 1;">
                            <div class="goods-info">
                                <p class="shop-name shop-name2">祈祷畅冬的科技馆</p>
                                <p class="shop_leval grade-star g-star5 shop-leval2"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address shop_address2">广东省广州市越秀区广卫路10号</span>       
                                </p>
                            </div>
                        </li>
                        </a>
                        <a href="$!webPath/store.htm?id=2" target="_top" title="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅"> 
                        <li class="wealth_li">
                           <img src="http://139.196.150.190/upload/store/2/b99efae1-9d7f-471a-a045-2d86fff978de.jpg" alt="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅" style="opacity: 1;">
                            <div class="goods-info">
                                <p class="shop-name shop-name2">祈祷畅冬的科技馆</p>
                                <p class="shop_leval grade-star g-star5 shop-leval2"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address shop_address2">广东省广州市越秀区广卫路10号</span>       
                                </p>
                            </div>
                        </li>
                        </a>
                        <a href="http://127.0.0.1:8080/amall/goods_1593.htm" target="_top" title="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅"> 
                        <li class="wealth_li">
                           <img src="http://139.196.150.190/upload/store/2/b99efae1-9d7f-471a-a045-2d86fff978de.jpg" alt="天际DDZ-16A隔水炖三胆炖盅正品陶瓷电炖锅" style="opacity: 1;">
                            <div class="goods-info">
                                <p class="shop-name shop-name2">祈祷畅冬的科技馆</p>
                                <p class="shop_leval grade-star g-star5 shop-leval2"></p>
                                <p class="shop_address-box">
                                    <span class="shop_address shop_address2">广东省广州市越秀区广卫路10号</span>       
                                </p>
                            </div>
                        </li>
                        </a>
                     </ul>
                </div>
            </div>
        </div>
        
    </div>   
    </div>
 </div>
    
    </div>
    

</div>  

</body>
</html>
$!httpInclude.include("/footer.htm") 
<script type="text/javascript" src="http://pc6.amallcdn.cn/assets/js/am_top_menu.js"></script>
<script src="$!webPath/assets/js/jquery.SuperSlide.2.1.1.js"></script>  
  <script type="text/javascript">
    $(".slideBox,.slideBox2").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,});
  </script> 
<script>
//1.轮播切换  
$(function () {
	var a = 0;
	var loop;
	// 初始化图片位置，默认打开就从最左边开始
	$(".goods-inner").scrollLeft(0);
	// 定时轮播函数
    function loopfun(){
    	loop = setInterval(function () {
    	    a++;
    	    if (a > $(".goods-slide-list li").length - 5) { a = 0 };
    	    $(".goods-inner").stop().animate({ scrollLeft: ($(".goods-slide-list li").width()+40) * a }, 1000);
    	    //console.log(a)
    	}, 3000);
    }
    // 执行轮播函数
    loopfun();
    // 鼠标hover事件
    $(".goods-inner").hover(function(){
    	clearInterval(loop);
    },function(){
    	loopfun();
    });

    // 左边切换按钮
    $(".pre").click(function () {
        clearInterval(loop);
        a--;
        if (a < 0) { a = $(".goods-slide-list li").length - 5};
        $(".goods-inner").stop().animate({ scrollLeft: ($(".goods-slide-list li").width()+40) * a }, 1000);
    });
    // 右边切换按钮
    $(".next").click(function () {
        clearInterval(loop);
        a++;
        if (a > $(".goods-slide-list li").length - 5) { a = 0 };
        $(".goods-inner").stop().animate({ scrollLeft: ($(".goods-slide-list li").width()+40) * a }, 1000);
    });   
}); 
</script> 
<script>
$(document).ready(function(e) {
    $(".goods-item img").hover(function(){
		$(this).animate({"opacity":"0.8"},500); 
		$(this).animate({"opacity":"1"},500); 
		},function(){
			$(this).animate({"opacity":"0.8"},500); 
		    $(this).animate({"opacity":"1"},500); 
			});
			 
    	$(".category-slide-list .goods-item").hover(function(){
    		$(this).addClass("hover");
    	},function(){ 
    		$(this).removeClass("hover");
    	});
     
});
</script>
<script>
$(window).scroll(function(){
	t=$(document).scrollTop();
	if(t>100){
		$('.shop_menu').addClass('shop_menu2');
		$('.shop_menu_nav').css("width","1200px");
	}else{
		$('.shop_menu').removeClass('shop_menu2');
		$(".area_nav li").removeClass('curren_li');
		$('.shop_menu_nav').css("width","1200px");
	}

});
$(".area_nav li a").click(function(){
	$("html,body").animate({ scrollTop:$($(this).attr("href")).offset().top + "px"},800);
	$(this).parent().addClass('curren_li').siblings().removeClass('curren_li');
	return false;
});
</script>    