<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
<link href="http://pc2.amallcdn.cn/resources/style/common/css/overlay.css" type="text/css" rel="stylesheet" />
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
</head>
<body>
<div class="cont">
  <h1 class="seth1">关于我们</h1>
  <div class="aboutour">
    <div class="about_one">
      <h3>Amall的理念</h3>
      <ul>
        <li>     </li>
      </ul>
    </div>
    <!-- 
    <div class="abouta">
      <div class="about_one">
        <h3>Amall核心团队</h3>
        <ul>
          <li><span class="rights">项目经理：</span><span>(erikzhang)</span></li>
          <li><span class="rights">核心开发者：</span><span></span></li>
          <li><span class="rights">首席设计师：</span><span></span></li>
          <li><span class="rights">特别感谢：</span><span>(William Raym)</span></li>
        </ul>
      </div>
    </div> -->
    <div class="abouta">
      <div class="about_one">
        <h3>走进Amall</h3>
        <ul>
          <li>
            <p>官方网站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ( 您可以在此获知<strong class="lighter"><span style="color: #DB0C0C"> Amall </span></strong>的最新动态，
              获得个性化的服务或获取我们的联系方式 ) </p>
          </li>
          <li><a href=" " target="_blank" class="lightblue"> </a></li>
        </ul>
        <ul>
          <li>
            <p>官方论坛&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ( 您可以在此交流获知<strong class="lighter"><span style="color: #DB0C0C"> Amall </span></strong>的使用心得，
              获得帮助，扩展等，您也可以在此给我们献言献策，
              让Amall变得更好更加适合您 ) </p>
          </li>
          <li><a href="  " target="_blank" class="lightblue">  </a></li>
        </ul>
      </div>
    </div>
    <div class="abouta">
      <div class="about_one">
        <h3>相关声明</h3>
        <ul>
          <li>
            <p>深圳市天使互助网络技术有限公司拥有 <strong class="lighter"><span style="color: #DB0C0C">Amall</span></strong> 的
              所有版权，本项目引用了以下： 
              Spring、SpringMVC、velocity、Ehcache、jQuery、Swfupload、kindeditor开源产品，原作者拥有其所有版权.</p>
          </li>
          <li>
            <p>开源产品的使用遵守原产品使用协议！</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
