<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
<link  href="http://pc3.amallcdn.cn/resources/style/common/css/jquery-ui-1.8.22.custom.css" type=text/css rel=stylesheet>
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.validate.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.poshytip.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc5.amallcdn.cn/resources/js/jquery.zh.cn.js"></script>
<script>
function ajax_update(id,fieldName,obj){
   var val=jQuery(obj).val();
   jQuery.ajax({type:'POST',
	              url:'$!webPath/admin/activity_ajax.htm',
				  data:{"id":id,"fieldName":fieldName,"value":val},
				beforeSend:function(){
				  
				},
			   success:function(data){
	             if(val==""){
				   jQuery(obj).attr("src","$!webPath/resources/style/system/manage/blue/images/"+data+".png");
				 }else{
				   jQuery(obj).val(val);
				 }      
              }
	    });
}
//向前count天 向后count天
function before_set(count,date){
   jQuery.post("$!webPath/admin/date_query_set.htm",{"count":count,"date":date},function(data){
	 jQuery("#the_day").html(data);
   });
}

</script>
</head>
<body>
<div class="cont">
  <h1 class="seth1">限时特价</h1>
  <div class="settab"><span class="tab-one"></span> 
  <span class="tabs"> 
	<a href="$!webPath/admin/bargain_time_add.htm">特价设置</a> |
	<a href="$!webPath/admin/bargain_time_list.htm" class="this">设置列表</a>
	</span>
	<!-- <span id="the_day" class="tabs">
	#foreach($obj in $objs)
	<a href="$!webPath/admin/bargain_time_goods_list.htm?bargain_time=$!CommUtil.formatShortDate($!obj.bargainTime)
		&bargain_end_time=$!CommUtil.formatShortDate($!obj.bargainEndTime)&mark=$!obj.mark">
		$!CommUtil.formatShortDate($!obj.bargainTime)--$!CommUtil.formatShortDate($!obj.bargainEndTime)</a>|
	#end
	</span> -->	 
 <span class="tab-two"></span></div>
  <form method="post" id="ListForm" action="$!webPath/admin/bargain_time_list.htm">
    <div class="allshop_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background: #if($!config.websitecss=='blue') #2A7AD2 #end 
      #if($!config.websitecss=='black')#333 #end; height:30px; color:#FFF">
        <td width="46"></td>
        <td  align="center" width="121">特价页标题</td>
        <td width="234" align="center">特价时间段</td>
        <td  align="center" width="189">特价商品最多数</td>
        <td  align="center" width="121">已申请</td>
        <td  align="center" width="121">已审核</td>
        <td  align="center" width="121">特价类型</td>
        <td  align="center" width="121">发布状态</td>
        <td  align="center">操作</td>
      </tr>
      #foreach($obj in $objs)
      <tr id="column_$!{obj.id}">
        <td><input name="checkbox" type="checkbox" id="checkbox" value="$!obj.id" /></td>
        <td align="center">$!obj.bargainTitle</td>
        <td align="center">$!CommUtil.formatLongDate($!obj.bargainTime)--$!CommUtil.formatLongDate($!obj.bargainEndTime)</td>
        <td align="center">$!obj.maximum</td>
        <td align="center">$!bargainManageTools.query_bargain_apply($!CommUtil.formatLongDate($!obj.bargainTime),$!CommUtil.formatLongDate($!obj.bargainEndTime),1)</td>
        <td align="center">$!bargainManageTools.query_bargain_audit($!CommUtil.formatLongDate($!obj.bargainTime),$!CommUtil.formatLongDate($!obj.bargainEndTime),1)</td>
        <!-- <td align="center">$!obj.rebate</td> -->
        #if($!obj.mark==0)
        #set($mark="天天特价")
        #end
        #if($!obj.mark==1)
        #set($mark="限时特价")
        #end
        #if($!obj.mark==2)
        #set($mark="折扣特卖")
        #end
        <td align="center">$!mark</td>
        #set($mark="")
        
        
        <td align="center"><span id="bar_status">
        	#if($!obj.bargainStatus==1)
        		正常
        	#else
        		关闭
        	#end
        	</span></td>
        <td  align="center" class="aoprater">
        	
        	#if($!obj.bargainStatus==1)
        		<a href="javascript:void(0);" onclick="if(confirm('是否继续修改状态？'))window.location.href='$!webPath/admin/bargain_time_status_save.htm?id=$!obj.id&bargainStatus=0'" class="blue">关闭</a>|
        	#else
        		<a href="javascript:void(0);" onclick="if(confirm('是否继续修改状态？'))window.location.href='$!webPath/admin/bargain_time_status_save.htm?id=$!obj.id&bargainStatus=1'" class="blue">开启</a>|
        	#end
        	<a href="$!webPath/admin/bargain_time_goods_list.htm?bargain_time=$!CommUtil.formatLongDate($!obj.bargainTime)&bargain_end_time=$!CommUtil.formatLongDate($!obj.bargainEndTime)&mark=$!obj.mark" class="blue">申请列表</a>|
        	<a href="javascript:void(0);" onclick="if(confirm('删除后不可恢复，是否继续？'))window.location.href='$!webPath/admin/bargain_time_del.htm?bargain_time=$!CommUtil.formatLongDate($!obj.bargainTime)&bargain_end_time=$!CommUtil.formatLongDate($!obj.bargainEndTime)&currentPage=$!currentPage&mark=$!obj.mark'" class="blue">删除</a></td>
      </tr>
      #end
	  <tr style="background:#F2F2F2; height:30px;">
        <td colspan="8"><div class="fenye3">
          <input name="orderBy" type="hidden" id="orderBy" value="bargain_time" />
          <input name="orderType" type="hidden" id="orderType" value="desc" />
          <input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
          $!gotoPageFormHTML</div>
          <div class="shopbtn shopfx">
            <input type="checkbox" name="all" id="all" value="" onclick="selectAll(this)"/>
            &nbsp;&nbsp;全部</div>
          <div class="shop_btn_del shopbtn">
            <input name="" type="button" value="删除" onclick="cmd('$!webPath/admin/bargain_time_del.htm');"/>
         </div></td>
      </tr>
    </table>
  </div>
  </form>
</div>
</body>
</html>
