<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
<link  href="http://pc3.amallcdn.cn/resources/style/common/css/jquery-ui-1.8.22.custom.css" type=text/css rel=stylesheet>
<link rel="stylesheet" type="text/css" href="$!webPath/assets/css/font-awesome.css">
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.validate.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.poshytip.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc5.amallcdn.cn/resources/js/jquery.zh.cn.js"></script>
<style>
.cont .export_box{position:relative;}
.export_box button{position:absolute;right:4%;bottom:1%;background:#2A7AD2;border:none;padding:6px 8px;color:#fff;border-radius:3px;letter-spacing:3px;padding-left:10px;}
.export_box button:hover{background:#36C;}
</style>
<script>
jQuery(document).ready(function(){
  jQuery('#beginTime').datepicker({
	  dateFormat:"yy-mm-dd",
	  changeMonth: true,
	  changeYear: true
  });
  jQuery('#endTime').datepicker({
	  dateFormat:"yy-mm-dd",
	  changeMonth: true,
	  changeYear: true
  });
  //
  jQuery("#export_btn").click(function(){
	  var a=window.confirm("确定要导出所有分红提现管理信息吗");
	  if(a!=0){
		  window.location.href="$webPath/admin/benefit_cashExport.htm";
	  }
  });
});
</script>
</head>
<body>

<div class="cont">
  <h1 class="seth1">预存款管理</h1>
  <div class="settab"><span class="tab-one"></span> <span class="tabs">|<a href="$!webPath/admin/predeposit_cash.htm" class="this">店铺提现管理</a>|<a href="$!webPath/admin/benefit_deposit_cash.htm" class="this">分红提现管理</a></span> <span class="tab-two"></span></div>
  <form action="$!webPath/admin/benefit_deposit_cash.htm" method="post" id="queryForm" >
  <div class="orders">
    <ul>
      <li> <span>支付方式</span><span class="ordersel">
        <select name="cardType" id="cash_payment">
          <option value="">支付方式</option>
          <option value="alipay">支付宝</option>
          <option value="bank">网银</option>
        </select>
      </span>提现状态<span>
        <select name="isWithdraw" id="cash_status">
          <option value="">提现状态</option>
          <option value="0">等待提现</option>
          <option value="1">已提现</option>
        </select>
        </span><span>账号</span><span class="order_input size2">
        <input name="username" type="text" id="cash_userName" />
        </span></li>
      <li> <span>申请时间</span><span class="order_input size2">
        <input name="beginTime" type="text" id="beginTime"  readonly="readonly"/>
        </span><span>—</span><span class="order_input size2">
        <input name="endTime" type="text" id="endTime" readonly="readonly" />
        </span> <span>汇款人</span><span class="order_input size2">
        <input name="cardName" type="text" id="cardName" />
        </span><span>汇款银行</span><span class="order_input size2">
        <input name="cardBankName" type="text" id="cardBankName" />
        </span> <span class="btn_search">
        <input type="submit"  value="搜索" style="cursor:pointer;"/>
      </span> </li>
    </ul>
  </div>
  </form>
  <div class="export_box"><button id="export_btn"><i class="fa fa-table">导出</i></button></div>
  <form action="$!webPath/admin/benefit_deposit_cash.htm" method="post" id="ListForm" >
    <div class="allshop_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background: #if($!config.websitecss=='blue') #2A7AD2 #end 
      #if($!config.websitecss=='black')#333 #end; height:30px; color:#FFF">
        <td width="117">提现编号</td>
        <td width="107">会员名称</td>
        <td width="85">提交时间</td>
        <td align="center" width="140">支付方式</td>
        <td  align="center" width="98">提现金额（元）</td>
        <td width="77" align="center">提现状态</td>
        <td width="120" align="center" >操作 </td>
      </tr>
      #foreach($obj in $objs)
      <tr>
        <td>$!obj.id </td>
        <td>$!obj.user.username</td>
        <td>$!CommUtil.formatShortDate($!obj.addTime)</td>
        #if($!obj.payType=="alipay")
          #set($cash_payment="支付宝")
        #else
          #set($cash_payment="网银")
        #end
        <td align="center">$!cash_payment</td>
        <td align="center">$!obj.fee</td>
        #if($!obj.isWithdraw=="false" && !$!obj.refuseMessage)
          #set($cash_status="等待提现")
        #elseif($!obj.isWithdraw=="true")
          #set($cash_status="已提现")
        #else
          #set($cash_status="拒绝提现")
        #end
        <td align="center">$!cash_status</td>
        <td align="center" class="blue xiahua">#if($!obj.isWithdraw=="false" && !$!obj.refuseMessage)<a href="$!webPath/admin/benfit_cash_edit.htm?id=$!obj.id&currentPage=$!currentPage">处理</a>#else <a href="$!webPath/admin/benefit_cash_view.htm?id=$!obj.id">查看</a> #end</td>
      </tr>
     #end
    </table>
  </div>
  <div class="fenye">
    <input name="cardType" type="hidden" value="$!cardType" />
    <input name="cardName" type="hidden" value="$!cardName" />
    <input name="beginTime" type="hidden" value="$!beginTime" />
    <input name="cardBankName" type="hidden" value="$!cardBankName" />
    <input name="endTime" type="hidden" value="$!endTime" />
    <input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
    $!gotoPageFormHTML</div>
  </form>
</div>
</body>
</html>
