<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片列表</title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="cont">
  <div class="orderdetail">
    <div class="orderh">图片列表</div>
    <div class="tousul">
      <ul>
        #if($!type=="buyer")  
        #if($!obj.fromAcc1)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.fromAcc1.path/$!obj.fromAcc1.name" height="$!obj.fromAcc1.height" width="$!obj.fromAcc1.width" /></div><i class="del_all">图片一</i></span></li>
        #end
        #if($!obj.fromAcc2)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.fromAcc2.path/$!obj.fromAcc2.name" height="$!obj.fromAcc2.height" width="$!obj.fromAcc2.width" /></div><i class="del_all">图片二</i></span></li>
        #end
        #if($!obj.fromAcc3)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.fromAcc3.path/$!obj.fromAcc3.name" height="$!obj.fromAcc3.height" width="$!obj.fromAcc3.width" /></div><i class="del_all">图片三</i></span></li>
        #end
        #end
        #if($!type=="seller")  
        #if($!obj.toAcc1)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.toAcc1.path/$!obj.toAcc1.name" height="$!obj.toAcc1.height" width="$!obj.toAcc1.width" /></div><i class="del_all">图片一</i></span></li>
        #end
        #if($!obj.toAcc2)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.toAcc2.path/$!obj.toAcc2.name" height="$!obj.toAcc2.height" width="$!obj.toAcc2.width" /></div><i class="del_all">图片二</i></span></li>
        #end
        #if($!obj.toAcc3)
        <li><span><div style="width:100%; height:400px;overflow:scroll;"><img src="$!config.imagewebserver/$!obj.toAcc3.path/$!obj.toAcc3.name" height="$!obj.toAcc3.height" width="$!obj.toAcc3.width" /></div><i class="del_all">图片三</i></span></li>
        #end
        #end
      </ul>
    </div>
  </div>
</div>
</body>
</html>
