<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
<link  href="http://pc3.amallcdn.cn/resources/style/common/css/jquery-ui-1.8.22.custom.css" type=text/css rel=stylesheet>
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.validate.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js" charset="UTF-8"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.poshytip.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc5.amallcdn.cn/resources/js/jquery.zh.cn.js"></script>
</head>
<body>
<div class="cont">
  <h1 class="seth1">团购管理</h1>
  <div class="settab"><span class="tab-one"></span> <span class="tabs"> <a href="$!webPath/admin/group_goods_list.htm?group_id=$!group_id&gg_status=0" #if($!gg_status==0)class="this"#end>待审核</a> | <a href="$!webPath/admin/group_goods_list.htm?group_id=$!group_id&gg_status=1" #if($!gg_status==1)class="this"#end>已审核</a>|<a href="$!webPath/admin/group_goods_list.htm?group_id=$!group_id&gg_status=-1" #if($!gg_status==-1)class="this"#end>已拒绝</a>|<a href="$!webPath/admin/group_list.htm">团购列表</a></span> <span class="tab-two"></span></div>
  <form method="post" id="ListForm">
  <div class="allshop_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background: #if($!config.websitecss=='blue') #2A7AD2 #end 
      #if($!config.websitecss=='black')#333 #end; height:30px; color:#FFF">
        <td width="3%"></td>
        <td width="35%">团购商品</td>
        <td width="15%">团购标题</td>
        <td width="10%" align="center">开始时间</td>
        <td align="center" width="10%">结束时间</td>
        <td align="center" width="10%">状态</td>
        #if($!gg_status==1)
        <td align="center">推荐</td>
        #end
        <td align="center">操作</td>
      </tr>
      #foreach($obj in $objs)
      <tr>
        <td><input name="checkbox" type="checkbox" id="checkbox" value="$!obj.id" /></td>
        <td >
        <span class="memimg"><img  src="$!{config.imagewebserver}/$!obj.ggImg.path/$!obj.ggImg.name" width="45" height="49" /></span> <span class="mem_detail">
            <ul>
              <li>团购标题：<a href="$!webPath/group_view.htm?id=$!obj.id" target="_blank" title="$!obj.ggName">$!CommUtil.substring("$!obj.ggName",25)</a></i></li>
              <li>商品名称：<a href="$!webPath/goods.htm?id=$!obj.ggGoods.id" target="_blank" title="$!obj.ggGoods.goodsName">$!CommUtil.substring("$!obj.ggGoods.goodsName",25)</a></li>
              <li>所在店铺：<a href="$!webPath/goods.htm?id=$!obj.ggGoods.id" target="_blank" title="$!obj.ggGoods.goodsStore.storeName">$!CommUtil.substring("$!obj.ggGoods.goodsStore.storeName",25)</a></li>
            </ul>
            </span>
        </td>
        <td>$!obj.group.groupName</td>
        <td align="center">$!CommUtil.formatTime("yyyy-MM-dd HH:mm",$!obj.group.begintime)</td>
        <td align="center">$!CommUtil.formatTime("yyyy-MM-dd HH:mm",$!obj.group.endtime)</td>
          #if($!obj.ggStatus==0)
            #set($status="待审核")
          #end
          #if($!obj.ggStatus==1)
            #set($status="审核通过")
         #end
         #if($!obj.ggStatus==-1)
            #set($status="审核拒绝")
         #end
        <td align="center">$!status</td>
        #if($!gg_status==1)
          #if($!obj.ggRecommend==1)
           #set($recommendImg="true")
          #else
           #set($recommendImg="false")
          #end
        <td  align="center" class="aoprater"><a href="$!webPath/admin/group_goods_recommend.htm?mulitId=$!obj.id&group_id=$!group_id&gg_status=$!gg_status&currentPage=$!currentPage"><img src="$!webPath/resources/style/system/manage/blue/images/$!{recommendImg}.png" width="21" height="23" style="cursor:pointer;" title="推荐后会在首页团购区域显示"/></a></td>
        #end
        <td  align="center" class="aoprater"><a href="$!webPath/groupExcessive.htm?gg_id=$!obj.id" target="_blank" class="blue">查看</a>#if($!obj.ggStatus!=1)<a href="javascript:void(0);" onclick="if(confirm('确定审核通过团购商品吗？'))window.location.href='$!webPath/admin/group_goods_audit.htm?mulitId=$!obj.id&group_id=$!group_id&gg_status=$!gg_status&currentPage=$!currentPage'" class="blue">通过</a>#end #if($!obj.ggStatus!=-1)<a href="javascript:void(0);" onclick="if(confirm('确定拒绝通过团购商品吗？'))window.location.href='$!webPath/admin/group_goods_refuse.htm?mulitId=$!obj.id&group_id=$!group_id&gg_status=$!gg_status&currentPage=$!currentPage'" class="blue">拒绝</a>#end</td>
      </tr>
      #end
      <tr style="background:#F2F2F2; height:30px;">
        <td colspan="8"><div class="fenye3">
          <input name="groupId" type="hidden" id="group_id" value="$!groupId" />
          <input name="ggStatus" type="hidden" id="gg_status" value="$!ggStatus" />
<input type="hidden" name="mulitId" id="mulitId" />
          <input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
          $!gotoPageFormHTML</div>
          <div class="shopbtn shopfx">
            <input type="checkbox" name="all" id="all" value="" onclick="selectAll(this)"/>
            &nbsp;&nbsp;全部</div>
          <div class="shop_btn_del shopbtn">
          #if($!ggStatus!=1)
            <input type="button" value="通过" onclick="cmd('$!webPath/admin/group_goods_audit.htm');" style="cursor:pointer;" />
            #end
            #if($!ggStatus!=-1)
            <input type="button" value="拒绝" onclick="cmd('$!webPath/admin/group_goods_refuse.htm');" style="cursor:pointer;" />
            #end
         </div></td>
      </tr>
    </table>
  </div>
  </form>
</div>
</body>
</html>
