<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$!webPath/resources/style/system/manage/$!{config.websitecss}/template.css"  rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="$!webPath/assets/css/font-awesome.css">
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
<style>
.cont .export_box{position:relative;}
.export_box button{position:absolute;right:8%;bottom:1%;background:#2A7AD2;border:none;padding:6px 8px;color:#fff;border-radius:3px;letter-spacing:3px;padding-left:10px;}
.export_box button:hover{background:#36C;}
</style>
<script>
	jQuery(function(){
		jQuery("#export_btn").click(function(){
			  var a=window.confirm("确定要导出所有兑换商品列表的信息吗");
			  if(a!=0){
				  window.location.href="$webPath/admin/Exportintegral_order.htm";
			  }
		  });
	});
</script>
</head>
<body>
<div class="cont">
  <h1 class="seth1">积分商城</h1>
  <div class="settab"><span class="tab-one"></span> 
  					<span class="tabs"> 
	  					<a href="$!webPath/admin/integral_goods.htm"  class="this">兑换商品列表</a> | 
	  					<a href="$!webPath/admin/integral_goods_add.htm">新增兑换商品</a> | 
	  					<a href="$!webPath/admin/integral_order.htm">兑换列表</a> 
	  					<a href="$!webPath/admin/navigation_list.htm">兑换导航管理</a> 
	  					<a href="$!webPath/admin/navigation_add.htm">兑换导航新增</a>
	  					<a href="$!webPath/admin/user_address.htm">会员默认地址查询</a> 
  					</span> 
  					<span class="tab-two"></span>
  </div>
  <form method="post" id="queryForm">
  <div class="allpro_search">
    <ul>
      <li> <span>礼品名称</span><span class="allpro size3">
        <input name="igGoodsName" type="text" id="ig_goods_name" />
        </span> <span>
        <select name="igShow" id="ig_show">
          <option value="">状态</option>
          <option value="true">上架</option>
          <option value="false">下架</option>
        </select>
        </span> <span class="btn_search">
        <input name="" type="submit"  value="搜索" style="cursor:pointer;" />
        </span> </li>
    </ul>
  </div>
  </form>
  <div class="export_box"><button id="export_btn"><i class="fa fa-table">导出</i></button></div>
  <form method="post" id="ListForm" name="ListForm">
  <div class="allpro_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background: #if($!config.websitecss=='blue') #2A7AD2 #end 
      #if($!config.websitecss=='black')#333 #end; height:30px; color:#FFF">
        <td width="2%">&nbsp;</td>
        <td width="13%">礼品名称</td>
        <td width="8%">礼品分类</td>
        <td width="8%" align="center">礼品编号</td>
        <td width="8%" align="center">兑换礼品金</td>
        <td width="8%" align="center">礼品原价</td>
        <td width="8%" align="center">礼品运费</td>
        <td width="8%" align="center">库存</td>
        <td width="6%" align="center">浏览</td>
        <td width="6%" align="center">兑出</td>
        <td width="8%" align="center">上架</td>
        <td width="8%" align="center">推荐</td>
        <td  align="center">操作</td>
      </tr>
      #foreach($obj in $objs)
      <tr>
        <td><input name="checkbox" type="checkbox" id="checkbox" value="$!obj.id" /></td>
        <td><a href="$!webPath/exchange/exchange_view.htm?id=$!{obj.id}" target="_blank">$!{obj.igGoodsName}</a></td>
        <td><a href="$!webPath/store_goods_list.htm?gc_id=$!{obj.gc.id}" target="_blank">$!{obj.gc.classname}</a></td>
        <td align="center">$!{obj.igGoodsSn}</td>
        <td align="center">$!{obj.igGoodsGoldNum}</td>
        <td align="center">$!{obj.igGoodsPrice}</td>
        <td align="center">$!{obj.igTransfee}</td>
        <td align="center">$!{obj.igGoodsCount}</td>
        <td align="center">$!{obj.igClickCount}</td>
        <td align="center">$!{obj.igExchangeCount}</td>
        <td align="center"><a href="$!webPath/admin/integral_goods_isShow.htm?id=$!obj.id&currentPage=$!currentPage"><img src="$!webPath/resources/style/system/manage/blue/images/$!{obj.igShow}.png" width="21" height="23" /></td></a>
        <td align="center"><a href="$!webPath/admin/integral_goods_isRecommend.htm?id=$!obj.id&currentPage=$!currentPage"><img src="$!webPath/resources/style/system/manage/blue/images/$!{obj.igRecommend}.png" width="21" height="23" /></td></a>
        <td align="center"  class="blue xiahua"><a href="$!webPath/admin/integral_goods_edit.htm?id=$!obj.id&currentPage=$!currentPage">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="$!webPath//admin/integral_goods_delId.htm?id=$!obj.id&currentPage=$!currentPage">删除</a></td>
      </tr>
      #end
      <tr style="background:#F2F2F2; height:30px;">
        <td colspan="11"><div class="shopbtn shopfx">
            <input type="checkbox" name="all" id="all" value="" onclick="selectAll(this)"/>
            &nbsp;&nbsp;全部</div>
          <div class="shop_btn_del shopbtn">
            <input name="" type="button" value="删除" onclick="cmd('$!webPath/admin/integral_goods_del.htm');" style="cursor:pointer;"/>
          </div></td>
      </tr>
    </table>
  </div>
  <div class="fenye">
    <input name="igShow" type="hidden" id="ig_show" value="$!igShow" />
    <input name="igGoodsName" type="hidden" id="ig_goods_name" value="$!igGoodsName" />
<input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
    <input type="hidden" name="mulitId" id="mulitId" />
    $!gotoPageFormHTML</div>
  </form>
</div>
</body>
</html>
