<!DOCTYPE  html>
<html>
<head>
<meta charset="UTF-8"/>
<title>信息</title>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/user.css">

<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/user.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/address.css">
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/j-accordin.min.js"></script>
</head>
<body style="background-color:#fff">
$!httpInclude.include("/top.htm")	
$!httpInclude.include("/buyer/buyer_header.htm") 
<div class="user_main w1200">
	$!httpInclude.include("/buyer/buyer_left.htm")
	<div class="s_m" style="margin-left: 10px; margin-top: 19px;">  
			<div class="buyer_position"><div class="buyer_p_box"><a href="$!webPath/buyer/buyer_index.htm">个人中心</a> > <span>充值记录</span></div></div>
			<div class="productmain">
            	<div class="pdctitle blue2">充值记录</div>

	            <div class="operation" style="margin-bottom: 0px;padding-bottom: 0px;">
	              <table width="100%" border="0" cellspacing="0" cellpadding="0" id="" >
	                <tr id="" class="" style="background-color: #f7f7f7;border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf  ">
	                  <td class="" width="250" align="center">充值时间</td>
	                  <td class="" width="100">金额（元）</td>
	                  <td class="" width="150">充值方式</td>
	                  <td class="" width="150">获得礼品金</td>
	                  <td class="" width="100">充值状态</td>
	                  <td class="" width="200" align="center">交易号</td>
	                </tr>
					<tr style="border-bottom: 1px solid #ddd;height: 40px;">
	                  <!-- 发件人 -->
	                  <td width="250" align="center" style="display:inline-block; overflow:hidden;">2016-1-29 13:46:17</td>
	                  <td class="" width="100" style="padding-left:20px">100</td>
	                  <td class="" width="150" style="line-height: 20px;">微信支付</td>
	                  <td class="" width="150" style="padding-left:20px">100</td>          
	                  <td class="" width="100">充值成功</td>
	                  <td class="" width="200" style="padding-left: 70px">165743167417499</td>
	                </tr>
					<tr style="border-bottom: 1px solid #ddd;height: 40px;">
	                  <!-- 发件人 -->
	                  <td width="180" align="center" style="display:inline-block; overflow:hidden;">2016-1-29 13:46:17</td>
	                  <td class="" width="100" style="padding-left:20px">200</td>
	                  <td class="" width="150" style="line-height: 20px;">支付宝</td>
	                  <td class="" width="150" style="padding-left:20px">100</td>          
	                  <td class="" width="100">充值成功</td>
	                  <td class="" width="200" style="padding-left: 70px">165743167417499</td>
	                </tr> 
	              </table> 
	            </div>            
          </div>

    </div>
</div>

$!httpInclude.include("/footer.htm")

</body>
</html>