<!DOCTYPE  html>
<html>
<head>
<title>精品在这里！</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/user.css">
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/resources/style/common/css/window.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/resources/style/common/css/overlay.css"/>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>

<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/j-accordin.min.js"></script>


</head>
<body style="background-color:#fff">
$!httpInclude.include("/top.htm")	
$!httpInclude.include("/buyer/buyer_header.htm") 
	<div class="user_main w1200">
		$!httpInclude.include("/buyer/buyer_left.htm")
   <div class="u_m" id="oBox">
    	<div class="order-top">
        	<div class="chf">
        		<span style="color:#fd9900; font-size:26px;">话费充值</span>
        		<span>充值1-10分钟到账，方便，安全，快捷。</span>
        		<span style="float:right; padding-top:15px"><a href=""><img src="$!webPath/assets/img/anet.png" />   查询充值记录</a></span>
        	</div>
        </div>
              
    
        <div style="width:830px;height: 475px; text-align: center;">
			<div class="chf_tit">
				<li style="width:30%">1 填写充值信息2</li>
				<li style="width:5%; font-size:20px;"> > </li>
				<li style="width:30%;color:#ff7928;font-weight:900">2 确认充值信息</li>
				<li style="width:5%; font-size:20px;"> > </li>
				<li style="width:30%">3 充值成功 </li>
			</div>
			<div class="org_box" style="height:310px"> <span class="org_box_cor cor4"></span>
				<div class="sjcz">	
				
					<div class="sjczdiv">
						<span class="sj_txt">手机号码：</span>
						<span class="sj_content"> <label style="font-size:20px; color:#ff7928">1380013800</label>  </span>
					</div>
					
					
					<div class="sjczdiv">
						<span class="sj_txt">充值金额：</span>
						<span class="sj_content"><label style="font-size:20px; color:#333">100 元</label></span>
					</div>
					
					<div class="sjczdiv">
						<span class="sj_txt">天 使 币：</span>
						<span style="font-size: 20px;color: #ff6600;">100 礼品金</span>
					</div>
					
					<div class="sjczdiv">
						<span class="sj_txt">&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="sj_content"><input class="czbtn" type="button" value="确认充值" /></span>
					</div>
					
				</div>
			</div>
			
			
		</div> 
		<div class="cjwt" style="margin-top:-70px;">
			<h1>常见问题</h1>
			<p>
				1、手机充值是否有充值限制？<br />
				答：单个账号单日充值总额不超过1000元，单账号单月充值总额不超过1500元，单月单手机号码充值总额不超过1500元。
			</p>
			<p>
				2、手机充值后如何获取发票？<br />
				答：用户充值成功后，可到当地运营商营业厅打印上月的实际消费发票。因各运营商规定不同，充值前请咨询当地运营商关于发票获
				取的政策。对于运营商反馈无法打印发票的情况，易付宝可协助提供部分省份、运营商、面额的定额发票，邮寄费用须用户自行承担。
				详情请拨打400-7777-017咨询。
			</p>
			<p>
				3、错充手机号码怎么办？<br />
				答：如果您不小心充错了手机号码，款是不能退回来的，所以请您在填写手机号码的时候务必确认填写正确。
			</p>
			<p><a class="cred" href="#">更多常见问题</a></p>
		</div>
	</div>
</div>
$!httpInclude.include("/footer.htm")
</body>
</html>