<!DOCTYPE  html>
<html>
<head>
<title>我的订单 </title>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/user.css">
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/user.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/address.css">
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/resources/style/common/css/window.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/resources/style/common/css/overlay.css"/>
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>

<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/j-accordin.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".colse_wuliu").click(function(){
  $(".bg_black").hide();
  });
});
</script>

<script type="text/javascript">

function switch_reason(){
	  var ck=jQuery("#reason_other").attr("checked");
	  if(ck=="checked"){
	    jQuery("#other_reason").show();
	  }else{
		jQuery("#other_reason").hide();  
	  }
	}
	
function ajaxPage(url,currentPage,obj) {
	var currPage = currentPage;
	var totalPages =$("#totalPages").val();
	var order_status = $("#order_status").val();
	var order_time = $("#order_time").val();
	var choices = $("#choices").val();
	
	if(currPage < 1) {
		currPage = 1;
	}else if(currPage > totalPages) {
		currPage = totalPages;
	}
	jQuery.ajax({
				 type:'POST',
				 url:url,
				 data:{"currentPage":currPage,"order_status":order_status,"order_time":order_time,"choices":choices},
				 success :　function(data) {
					 $("#main_t").html(data);
				 },
				 error : function(){
					 alert("已到第一页");
				 }
				});
}

/* //表单方式分页
function gotoPage(n){
	jQuery("#currentPage").val(n);
	jQuery("#ListForm").submit();
} */


$(document).ready(function(){
	$('.accordion').jaccordion();
	var lis = jQuery(".tools ul li");
	jQuery.each(lis,function(i,val){
		var obj = jQuery(val);
		var indexVal = i * 25;
		var y = "-"+indexVal+"px";		
		var defaultVal = "0 "+y;
		var changeVal = "25px "+y;
		obj.mouseover(function(){
				obj.children("i").css("backgroundImage","../img/54f681ffN84dece5f.png").css("backgroundPosition",changeVal);
				obj.children("p").css("color","#a90000");

			}).mouseleave(function(){
				obj.children("i").css("backgroundImage","../img/54f681ffN84dece5f.png").css("backgroundPosition",defaultVal);
				obj.children("p").css("color","#666");
			});
	
	});
	
});

function orderTimeSelect(){
	jQuery("#ListForm").submit();
}

 // 查看物流
function showWuLiu(orderId,goodsId){
	var url = "$!webPath/buyer/buyer_ship_view.htm";
	jQuery.post(url,{id:orderId,goodsId:goodsId},function(jsonData){
		var data = JSON.parse(jsonData);
		if(data.status==false){
			alert(data.msg);
		}else{
			if(goodsId != 0){
				// 退货物流
				jQuery("#dialog_orderId").text(data.obj.orderId);
				jQuery("#dialog_address").text(data.obj.addr.province+""+data.obj.addr.city+""+data.obj.addr.area+""+data.obj.addr.areaInfo);
				jQuery("#dialog_companyName").text(data.obj.returnEc.companyName);
				jQuery("#dialog_spipCode").text(data.obj.returnShipcode);
			}else{
				//正常商家发货物流
				jQuery("#dialog_orderId").text(data.obj.orderId);
				jQuery("#dialog_address").text(data.obj.addr.province+""+data.obj.addr.city+""+data.obj.addr.area+""+data.obj.addr.areaInfo);
				jQuery("#dialog_companyName").text(data.obj.ec.companyName);
				jQuery("#dialog_spipCode").text(data.obj.shipcode);
			}
			 
			jQuery(".bg_black").css("display","block");
			$("#share_ar").hide();//防止分享框弹出
			var html="";
			for(var i=0; i<data.transInfo.length;i++){
			    html += '<section><span class="point-time point-green"></span><aside>';
				html += '<p class="things">'+data.transInfo[i].context+'</p>';
				html += '<p class="things">快递公司：'+data.expressCompany.companyName+'</p>';
				html += '<p class="things">快递单号：'+data.kuaidiNum+'</p>';
				if(i==data.transInfo.length-1){
					html+='<p class="brief"><span class="text-red">'+data.transInfo[i].time+'</span></p>';
				}else{
					html+='<p class="brief"><span class="text-green">'+data.transInfo[i].time+'</span></p>';
				}
				html+='<aside></section>';
			}
			if(data.transInfo.length == 0){
				html='<p class="brief"><span class="text-green">暂无物流信息</span></p>';
			}
			jQuery("#content").html(html);
		}
	});
	
}
 
 function dialogHidden(){
	 jQuery(".bg_black").css("display","none");
 }
</script>
</head>
<body style="background-color:#fff">
<div id="main_t">
<div class="bg_black" style="position:fixed; display: none;"  >
	<div class="add_address" style="z-index: 9999999; background: #fff; overflow-y: scroll;height:60%;margin-top:4%">
		<div class="address_t">
			<span>查看物流</span>
			<span class="colse_wuliu"><img src="$!webPath/assets/img/dialog_close_16px.png" /></span>
		</div>
		<div class="wuliu">
		  <table class="wuliutable" width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td>订单编号：</td>
		    <td><label class="f16 color2" id="dialog_orderId"></label></td>
		  </tr>
		  <tr>
		    <td valign="top">收货地址：</td>
		    <td id="dialog_address"></td>
		  </tr>
		
		  <tr>
		    <td>物流公司：</td>
		    <td id="dialog_companyName"></td>
		  </tr>
		  <tr>
		    <td>运单编号：</td>
		    <td id="dialog_spipCode"></td>
		  </tr>  
		</table>
		
		<div class="content">
		  <article >
		    <h3>物流信息</h3>
		    <div id="content"></div>
				
			</article>
		</div>
		</div>
	</div>
</div>


$!httpInclude.include("/top.htm")	
$!httpInclude.include("/buyer/buyer_header.htm")

<div class="user_main w1200">
	$!httpInclude.include("/buyer/buyer_left.htm")
	<div class="s_m" id="oBox">
    <form action="$!webPath/buyer/buyer_order.htm?" method="post" id="ListForm">
			<div class="buyer_position" style="position: relative;">
				<div class="buyer_p_box"><a href="$!webPath/buyer/buyer_index.htm">个人中心</a> > <span>我的订单</span></div>
			</div>  
			<div class="productmain">
	            <div class="order-top">
					<span style="padding-left: 10px;font-size: 14px;color: #000;height: 40px;line-height: 40px;">我的订单</span>
					<div class="sch" >
			            	<input class="inputtxt" type="text" value="$!choices" name="choices" placeholder="$!choices"/> 
			            	<input class="inputbtn" type="submit" value="搜索" />
			        </div>
				</div>
	            <table class="order_table">
		        	<colgroup>
		                <col width="244">
		                <col width="59">
		                <col width="85">
		                <col width="68">
		                <col width="69">
		                <col width="82">
		                <col width="64">
		                <col width="72">
		                <col width="77">
		            </colgroup>
		            <thead>
		                <tr>
		                    <th>订单信息</th>
		                    <th>数量</th>
		                    <th>单价</th>
		                    <th>退款/货操作</th>
		                    <th>收货人</th>
		                    <th>订单金额</th>
		                    <th>
		                        <select name="order_time" onchange="orderTimeSelect();">
		                        	<option value="" #if($!order_time == "")selected="selected"#end>请选择</option>
		                            <option value="recentlyMonths" #if($!order_time == "recentlyMonths")selected="selected"#end>最近三个月</option>
		                            <option value="toYear"  #if($!order_time == "toYear")selected="selected"#end>今年内</option>
		                            <option value="oneYearAgo"  #if($!order_time == "oneYearAgo")selected="selected"#end>1年前</option>
		                            <option value="twoYearsAgo"  #if($!order_time == "twoYearsAgo")selected="selected"#end>2年前</option>
		                            <option value="threeYearsAgo"  #if($!order_time == "threeYearsAgo")selected="selected"#end>3年前</option>
		                            <option value="beforeThreeYearsAgo"  #if($!order_time == "beforeThreeYearsAgo")selected="selected"#end>3年以前</option>
		                       </select>
		                    </th>
		                    <th>
		                        <select name="order_status" id="order_status" onchange="orderTimeSelect()">
		                            <option value="" #if(!$!order_status)selected="selected"#end>全部状态</option>
		                            <option value="order_submit" #if($!order_status == "order_submit")selected="selected"#end>等待付款</option>
		                            <option value="order_pay" #if($!order_status == "order_pay")selected="selected"#end>已付款</option>
		                            <option value="order_shipping" #if($!order_status == "order_shipping")selected="selected"#end>已发货</option>
		                            <option value="order_receive" #if($!order_status == "order_receive")selected="selected"#end>已收货</option>
		                            <option value="order_finish" #if($!order_status == "order_finish")selected="selected"#end>已完成</option>
		                            <option value="order_cancel" #if($!order_status == "order_cancel")selected="selected"#end>已取消</option>
		                        </select>
		                    </th>
		   
		                    <th>操作</th>
		                </tr>
		            </thead> 
		       #if($objs.size()>0)
		         
		            #foreach($obj in $!objs)
		            <tbody>
		            
		            	<tr class="tbody_num">
		            		<td colspan="8">
		            			<span class="tcol1" style="display: inline-block; float:left">
		            			订单编号:<a href="$!webPath/buyer/order_view.htm?id=$!obj.id">$!obj.orderId&nbsp;&nbsp;&nbsp;</a>店铺: $!obj.store.storeName
		            			 </span>
		            			 
		            		</td>
		            		<td>
		            			#if($!obj.orderStatus >=20)
		                        	<a class="amall_tous" href="$!webPath/buyer/complaint_handle.htm?order_id=$!obj.id">投诉</a>
		                        #end
		            		</td>
		            	</tr>
		            	
		                	#set($gc=$!obj.cart)
		                	
		                	#if($!obj.orderStatus==0)
		               	 		#set($status="已取消")
			                #end
			                
			                #if($!obj.orderStatus==10)
			               		#set($status="等待支付")
			                #end
			                
			                #if($!obj.orderStatus==15)
			               		#set($status="线下支付待审核")
			                #end
			                
			                #if($!obj.orderStatus==16)
			                	#set($status="货到付款待发货")
			                #end
			                
			                #if($!obj.orderStatus==20)
			                	#set($status="已付款")
			                #end
			                
			                #if($!obj.orderStatus==30)
			                	#set($status="已发货")        
			                #end    
			                            
			                #if($!obj.orderStatus==40)
			                	#set($status="已收货")
			                #end
			                
			                #if($!obj.orderStatus==50)
			                	#set($status="已评价")                                              
			                #end
			                
			                #if($!obj.orderStatus==60)
			                	#set($status="已结束")                                              
			                #end
			                
			                #if($!obj.orderStatus==65)
			                	#set($status="已结束，不可评价")                                              
			                #end
			                
			                #set($payment="未支付")
			                
			                #if($!obj.payment.mark=="alipay")
			                	#set($payment="支付宝")
			                #end
			                
			                #if($!obj.payment.mark=="alipay_wap")
			                	#set($payment="手机网页支付宝")
			                #end
			                
			                #if($!obj.payment.mark=="tenpay")
			                	#set($payment="财付通")
			                #end
			                
			                #if($!obj.payment.mark=="bill")
			               		 #set($payment="快钱")
			                #end  
			                               
			                #if($!obj.payment.mark=="chinabank")
			                	#set($payment="银联在线")
			                #end   
			                    
			                #if($!obj.payment.mark=="outline")
			                	#set($payment="线下支付")
			                #end   
			                               
			                #if($!obj.payment.mark=="balance")
			                	#set($payment="预存款支付")
			                #end
			                
			                #if($!obj.payment.mark=="payafter")
			               		 #set($payment="货到付款")
			                #end
			                
			                #if($!obj.payment.mark=="paypal")
			                	#set($payment="paypal")
			                #end
		                
		                	#set($goodsSize = $obj.items.size())
		                	#foreach($goodsitem in $!obj.items)
		                		#if($!goodsitem.goodsMainPhoto)
		                			#set($photo = "$!{config.imagewebserver}/$!{goodsitem.goodsMainPhoto.path}/$!{goodsitem.goodsMainPhoto.name}")
		                		#else
		                		#set($photo = "" )
		                		#end
		               
		                <tr>
		                	<td style="border-bottom: 1px solid #f5f5f5;">
		                    	<div class="img-list">
		            		    	<a href="$!webPath/goods.htm?id=$!goodsitem.goodsId" class="img-box">
		        					<img width="50" height="50" src="$!photo" style="padding: 1px;"/>
		        		  			</a>
		        		        </div>
		        		        <div style=" width: 160px;line-height:18px; min-height:54px;display:inline-block;text-align:left; float: left;margin:12px 0px 0px 2px; overflow:hidden;">
		        		        	<a style="line-height:16px;color:#498cd0;text-align:left;font-size: 12px;" href="$!webPath/goods.htm?id=$!goodsitem.goodsId">$!goodsitem.goodsName</a>
		        		        	<span style="color:#888">$!goodsitem.specInfo</span>
		        		        	
		        		        </div>
		                    </td>
		                    <td>$!{goodsitem.goodsCount}</td>
		                    <td>
		                    	$!{goodsitem.goodsPrice}
		                    </td>
		                    <td>
		                    	 #if($goodsitem.refund)
		                    	 	#if($goodsitem.refund==41)
					                   <span>等待退款</span>
					                #end
		                    	 	#if($goodsitem.refund==42)
		                    	 		<span>卖家同意退款</span>
		                    	 	#end
		                    	 	#if($goodsitem.refund==43)	
		                    	 		#if($!obj.orderStatus==30)
		                    	 			
		                    	 			#else #if($!obj.orderStatus == 40 || $obj.orderStatus == 50)
		                    	 			<!-- 	<span> <a href="$!webPath/buyer/buyer_return_goods.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退货</a></span> -->
			                    	 		 <span>拒绝申请退款</span>
				                    	 		 #if($obj.orderStatus!=10 && $obj.orderStatus!=0)
						                          	#if($!goodsitem.goods.refundServerTime==100 && $obj.orderStatus!=20)
						                          		<span>该商品不能退货</span>
						                          	#else
					                    	 		<span>
						                        		<a href="javascript:void(0);" dialog_uri="$!webPath/buyer/buyer_order_return_apply.htm?id=$!obj.id&currentPage=$!currentPage" dialog_title="退货" dialog_width="500" dialog_height="100" dialog_top="0" dialog_id="order_cancel">
					                        			<span> <a href="$!webPath/buyer/buyer_return_goods.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退货</a></span>
					                        		</a>
					                        		</span>
					                        		#end
					                        	#end	
			                    	 		#end
			                    	 	#end
			                    	 	  #if($!obj.orderStatus==20)
					                        	#if($!{velocityCount}!=1)
					                    		#else
					                        	<span> <a href="$!webPath/buyer/order_refund.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退款</a></span>
					                        	#end
					                      #end
		                    	 	#end
		                    	 	#if($goodsitem.refund==51)	
		                    	 		<span>已退款</span>
		                    	 	#end
		                    	 	#if($goodsitem.refund==44)
		                    	 		<span>申请退款中</span>
		                    	 	#end
		                    	 	#if($goodsitem.refund==45)	
		                    	 		<span>申请退货中</span>
		                    	 	#end
		                    	 	#if($goodsitem.refund==46)
		                    	 		<span>已同意退货</span>
		                    	 			 <!-- 已收货,退货物流中 --> 
		                        			#if($!obj.orderStatus==40)
		                       				 <span>
		                       				 	<a href="javascript:void(0);" dialog_uri="$!webPath/buyer/buyer_order_return_ship.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage" dialog_title="退换信息" dialog_width="500" dialog_height="100" dialog_top="0" dialog_id="order_cancel">
		                       				 		退货信息
		                       				 	</a>
		                       				 </span>
		                       				 <span>
		                       			 	<a href="javascript:void(0);" onclick="showWuLiu($!obj.id,$goodsitem.goodsId)">退货物流</a> 
		                       			 	</span>
		                       				#end
		                        
		                    	 	#end
		                    	 	#if($goodsitem.refund==48)	
		                    	 		<span>拒绝退货申请</span>
		                    	 		<span>
			                        		<a href="javascript:void(0);" dialog_uri="$!webPath/buyer/buyer_order_return_apply.htm?id=$!obj.id&currentPage=$!currentPage" dialog_title="退货" dialog_width="500" dialog_height="100" dialog_top="0" dialog_id="order_cancel">
			                        			<span> <a href="$!webPath/buyer/buyer_return_goods.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退货</a></span>
			                        		</a>
		                        		</span>
		                    	 	#end
		                    	 	#if($goodsitem.refund==47)	
		                    	 		<span>退货成功</span>
		                    	 	#end
		                    	 #else
		                          	#if($obj.orderStatus!=10 && $obj.orderStatus!=0)
			                          	#if($!goodsitem.goods.refundServerTime==100 && $obj.orderStatus!=20)
			                          		<span>该商品不能退货</span>
			                          	#else
				                          	#if($obj.orderStatus == 20)
			                          		<span> <a href="$!webPath/buyer/order_refund.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退款</a></span>
			                         		#end
			                         		#if($obj.orderStatus == 40 || $obj.orderStatus == 50)
			                          		<span> <a href="$!webPath/buyer/buyer_return_goods.htm?id=$!obj.id&goodsId=$!goodsitem.goodsId&currentPage=$!currentPage">退货</a></span>
			                         		#end
		                         		#end
		                         	#end
		                        #end
		                    </td>
		                	#if($!{velocityCount}!=1)
		                	#else
		                    <td rowspan="$!goodsSize">$!obj.addr.truename</td>
		                    <td rowspan="$!goodsSize">￥$!obj.totalprice<br/>
		                     	#if($!obj.orderStatus==20)
		                     	在线支付
		                        #end
		                    </td>
		                    
		                    <td rowspan="$!goodsSize"><span class="c6" style="line-height: 18px;">$!CommUtil.formatLongDate($!obj.addtime)</span></td>
		                    
		                    <td rowspan="$!goodsSize">
		                    	<span class="cred fb">$!status </span>
		                    	
		                    	#if($!obj.orderStatus>=30)
		                    	<a href="javascript:void(0);" onclick="showWuLiu($!obj.id,0)">查看物流</a> 
		                    	#end
		                    </td>
		                    #end
		                    
		                    	<!-- 订单取消  -->                      
		                        #if($!obj.orderStatus==0)
		                        	#if($!{velocityCount}!=1)
		                    		#else
		                        	<td rowspan="$!goodsSize"><a href="$!webPath/buyer/buyer_order_delete.htm?id=$!{obj.id}&currentPage=1">删除</a></td>
		                        	#end 
		                        #end
		                    
		                    	<!-- 待付款  -->        
		                    	#if($!obj.orderStatus==10)
		                    		#if($!{velocityCount}!=1)
		                    		#else
		                    		<td rowspan="$!goodsSize">
		                    		<span class="mt10">
		                    			<a class="btn_4" href="$!webPath/cart/orderform_pay.htm?orderFormId=$!obj.id">付款</a><br/>
		                        		<a dialog_id="order_cancel" dialog_height="100" dialog_width="500" dialog_title="取消订单" dialog_uri="$!webPath/buyer/buyer_order_cancel.htm?id=$!obj.id&currentPage=1" href="javascript:void(0);">取消订单</a> 
		                        	</span>
		                        	</td>
		                        	#end 
		                        #end
		                       
		                     	<!-- 已付款  -->    
		                        #if($!obj.orderStatus==20)
		                        	#if($!{velocityCount}!=1)
		                    		#else
		                    		<td rowspan="$!goodsSize">
		                        	<span class="mt10">
		                        		<a href="javascript:void(0);">待发货</a><br/>
		                        	</span>
		                        	</td>
		                        	#end
		                        #end
		                        
		                        <!-- 已发货  --> 
		                        #if($!obj.orderStatus==30)
		                        	#if($!{velocityCount}!=1)
		                    		#else
		                    		<td rowspan="$!goodsSize">
		                        	<span class="mt10">
		                        	<!-- <p class="clock_o" style="margin:-5px 0 18px 0;font-size:10px"><i class="fa fa-clock-o" aria-hidden="true"></i>还剩21时22分</p>-->
			                        	<a class="complsh" href="javascript:void(0);" dialog_uri="$!webPath/buyer/buyer_order_cofirm.htm?id=$!obj.id&currentPage=$!currentPage" dialog_title="确认收货" dialog_width="400" dialog_height="100" dialog_id="order_confirm">确认收货</a>
			                       	</span>
			                       	</td>
			                       	#end
		                        #end
		                        
		                       
			                        <!-- 已收货,待评价 --> 
		                        #if($!obj.orderStatus==40)
		                        #if(!$!goodsitem.itemStatus)
		                        	<td>
		                        	<span>
			                        	<a href="$!webPath/buyer/buyer_orderComment.htm?orderId=$!obj.id&goodsId=$!goodsitem.goodsId" >评价</a><br/>
		                        	</span>
		                        	</td>
		                        #else
		                        	<td>已完成</td>	
		                        #end
		                        #end
		                        <!-- 已完成,已评价  --> 
		                        #if($!obj.orderStatus==50)
		                        #if($!goodsitem.itemStatus == true)
		                        	<td> 
		                        	<span>
		                        		<!-- <a href="">申请返修</a> <br/>
		                            	<a href="javascript:void(0);" dialog_uri="$!webPath/buyer/buyer_order_return_apply.htm?id=$!obj.id&currentPage=$!currentPage&view='view'" dialog_title="退换货" dialog_width="500" dialog_height="100" dialog_top="0" dialog_id="order_cancel">退换货</a> -->
		                        		已完成
		                        	</span>
		                        	</td>
		                        #end
		                        #end
		                    
		                    
		                </tr>
		                 	#end
		                
		            </tbody> 
		              #end
		                 #else
		                  
		                  	<tr class="opertr">
			                <td colspan="9" style="height:250px;text-align:center;line-height:250px;">您现在还没有<strong style="color:red">订单</strong>哦,先去看看吧~ </td> 
			                </tr>  
			                  
		                  #end  
		        </table> 
		        #if($!objs.size()>0)
		        <!--分页开始-->
		        <div class="bottom_page">
					<input name="totalPages" type="hidden" id="totalPages" value="$!totalPage"/>
					<input name="currentPage" type="hidden" id="currentPage" value="$!currentPage" />
					$!gotoPageAjaxHTML
				</div>
		        <!--分页结束--> 
		        #end 
			</div>
		</div>
	</form>  
</div>

$!httpInclude.include("/footer.htm")
</div>
</body>
</html>