<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>推广介绍 </title>
<meta name="keywords" content="$!config.keywords" />
<meta name="description" content="$!config.description" />
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/user.css" type="text/css" rel="stylesheet" />
<link href="http://pc2.amallcdn.cn/resources/style/common/css/overlay.css" type="text/css" rel="stylesheet" />
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
<script>


</script>
</head>
<body>
$!httpInclude.include("/top.htm")
$!httpInclude.include("/buyer/buyer_header.htm") 
<div class="user_main w1200"> 
$!httpInclude.include("/buyer/buyer_left.htm") 
	<div class="s_m" style="">  
	  <div class="buyer_position"><div class="buyer_p_box"><a href="$!webPath/buyer/buyer_index.htm">个人中心</a> ><span>推广介绍</span></div></div>
	  <div class="productmain" style="width:953px; padding: 0;border-radius: 0px;border: 1px solid #d8d8d8;">
	  	<div style="width: 100%;margin: 0 auto;">
			<img src="$!webPath/assets/img/extension_obtain.jpg" alt="推广挣钱" style="width:101%;"/>
		</div>
	  </div>
	</div>
</div>
$!httpInclude.include("/footer.htm")
</body>
</html>
