$!httpInclude.include("/buyer/my_servicecenter_head.htm")
			<div class="container">
            <ul class="section" style="padding: 0;">
		          <li id="wei11" class="li_this"><a href="$!webPath/buyer/my_servicecenter.htm" style="display:block">代充记录</a></li>
		          <li id="wei21" class=""><a href="$!webPath/buyer/my_servicecenter2.htm" style="display:block">充值记录</a></li>
		          <li id="wei21" class=""><a href="$!webPath/buyer/my_servicecenter3.htm" style="display:block">扣款记录</a></li> 
		        </ul>
		      </div>
		      <!-- 代充记录 -->
		      <div class="ordercon" style="width: 794px;">
			     <table border="0" cellpadding="0" cellspacing="0" style="text-align: center;line-height: 24px;font-size: 24px;width: 100%;height: auto;border:none;">
			       	  <tr>
			       		  <td width="30%">用户名</td>
			       		  <td width="30%">手机号码</td>
			       		  <td width="40%">时间</td>
			       		
			       	  </tr>
	
				       #foreach($obj in $!objs)
		      			<tr style="border-top: 1px solid #d8d8d8;"> 
		          		<td>$obj.user.truename</td>
		          		<td>$obj.user.username</td>
		          		<td>$CommUtil.formatLongDate($obj.addtime)</td>
		      			</tr>
		     		 	#end
	
			      </table>  
		       </div>
		    	       
		       
		     </div>
          </div>
</div>
$!httpInclude.include("/footer1.htm")
</body>
</html>
