
<div class="w1100"> 
<div class="box_le">
      <div class="le_box">
        <div class="le_box_t">店铺介绍</div>
        <div class="le_box_b">
          <p class="seler_into">帕菲帕贝puppypuffy,孩子的放心选择.关键词:帕菲帕贝短袖T恤、帕菲帕贝短裤、帕菲帕贝连衣裙、帕菲帕贝套装、帕菲帕贝休闲服、帕菲帕贝2015新款——【帕菲帕贝官网专卖店】puppypuffy帕菲帕贝官方旗舰店_帕菲帕贝童装专柜正品-</p>
        </div>
      </div>
      <div class="le_box">
        <div class="le_box_t">站内搜索</div>
        <div class="le_box_b">
          <p><span>关键字</span>
            <input type="search" style="width:118px;" />
          </p>
          <p><span>价格</span>
            <input type="search" style="width:50px;" />
            -
            <input type="search" style="width:50px;" />
          </p>
          <p><span>&nbsp;</span>
            <input type="button" value="搜索" style="padding-left:10px; padding-right:10px;" />
          </p>
        </div>
      </div>
      <div class="le_box">
        <div class="le_box_t">销售排行</div>
        <div class="le_box_b">
          <div class="paihang_list">
            <ul>
              <li>
                <div class="ph_img"><img src="$!webPath/assets/img/shop/441.jpg" /></div>
                <div class="ph_txt">
                  <p class="c3">达芙妮凉鞋女</p>
                  <p class="cred">￥436.00</p>
                  <p>已售出1320件</p>
                </div>
              </li>
              <li>
                <div class="ph_img"><img src="$!webPath/assets/img/shop/441.jpg" /></div>
                <div class="ph_txt">
                  <p class="c3">达芙妮凉鞋女</p>
                  <p class="cred">￥436.00</p>
                  <p>已售出1320件</p>
                </div>
              </li>
              <li>
                <div class="ph_img"><img src="$!webPath/assets/img/shop/441.jpg" /></div>
                <div class="ph_txt">
                  <p class="c3">达芙妮凉鞋女</p>
                  <p class="cred">￥436.00</p>
                  <p>已售出1320件</p>
                </div>
              </li>
              <li>
                <div class="ph_img"><img src="$!webPath/assets/img/shop/441.jpg" /></div>
                <div class="ph_txt">
                  <p class="c3">达芙妮凉鞋女</p>
                  <p class="cred">￥436.00</p>
                  <p>已售出1320件</p>
                </div>
              </li>
              <li>
                <div class="ph_img"><img src="$!webPath/assets/img/shop/441.jpg" /></div>
                <div class="ph_txt">
                  <p class="c3">达芙妮凉鞋女</p>
                  <p class="cred">￥436.00</p>
                  <p>已售出1320件</p>
                </div>
              </li>
            </ul>
            <p style="width:100%; text-align:center"><a href="">查看更多</a></p>
          </div>
        </div>
      </div>
    </div>