<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
$!httpInclude.include("/top.htm")
$!httpInclude.include("/brandshop/brandshop_head.htm")
<html>  
<body> 
  $!httpInclude.include("/brandshop/brandshop_menu.htm?id=55")
  $!httpInclude.include("/brandshop/brandshop_left.htm")
   <div class="floor1 block">
      <div class="floor1">
        <div class="floor1_top"><span></span>
          <label>镇店之宝</label>
        </div>
        <div class="floor1_box">
          <div class="fl_le"><img src="$!webPath/assets/img/shop/ss1.jpg" /></div>
          <div class="fl_ri">
            <ul>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss2.jpg" width="290" /></div>
                <p><span class="fl">韩版时尚平跟</span><span class="pri_n">¥76</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss3.jpg" width="290" /></div>
                <p><span class="fl">防滑亮皮女凉拖鞋</span><span class="pri_n">¥86</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss4.jpg" width="290" /></div>
                <p><span class="fl">公主浅口方头平跟</span><span class="pri_n">¥86</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss5.jpg" width="290" /></div>
                <p><span class="fl">春款欧美英伦浅口</span><span class="pri_n">¥86</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="floor1">
        <div class="floor1_top"><span></span>
          <label>夏季新品</label>
        </div>
        <div class="floor1_box">
          <div class="fl_le"><img src="$!webPath/assets/img/shop/ss12.jpg" /></div>
          <div class="fl_ri">
            <ul>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss13.jpg" width="290" /></div>
                <p><span class="fl">韩版时尚平跟</span><span class="pri_n">¥76</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss14.jpg" width="290" /></div>
                <p><span class="fl">防滑亮皮女凉拖鞋</span><span class="pri_n">¥86</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss15.jpg" width="290" /></div>
                <p><span class="fl">公主浅口方头平跟</span><span class="pri_n">¥86</span></p>
              </li>
              <li>
                <div><img src="$!webPath/assets/img/shop/ss16.jpg" width="290" /></div>
                <p><span class="fl">春款欧美英伦浅口</span><span class="pri_n">¥86</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
 </div>
  <div class=" block"></div>
</div>

</body>
</html>
$!httpInclude.include("/footer.htm")