<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
<link href="http://pc3.amallcdn.cn/resources/style/system/front/default/css/user.css" type="text/css" rel="stylesheet" />
<link href="http://pc2.amallcdn.cn/resources/style/common/css/overlay.css" type="text/css" rel="stylesheet" />
<link  href="http://pc3.amallcdn.cn/resources/style/common/css/jquery-ui-1.8.22.custom.css" type=text/css rel=stylesheet>
<script src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script>
<script src="http://pc4.amallcdn.cn/resources/js/jquery.validate.min.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery.shop.common.js"></script>
<script src="http://pc6.amallcdn.cn/resources/js/jquery-ui-1.8.21.js"></script>
<script src="http://pc5.amallcdn.cn/resources/js/jquery.zh.cn.js"></script>
</head>
<body>
$!httpInclude.include("/top.htm")
$!httpInclude.include("/seller/seller_head.htm")  
<div style="width:1200px; margin: 0 auto;">
$!httpInclude.include("/seller/seller_nav.htm") 
	$!result
	#if($!url)
<script>
	  var count=3;
	  window.setInterval(go,1000);
	  function go(){
	    count--;
	    if(count==0) window.location.href="$!url";
	  }
	</script>
    #end
 </div>
</body>
</html>