<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/public.css">
</head>
  <div id="yg_logo_tab" class="clearfix ygwrap" style="width:990px; margin:0 auto">
    <div class="logo fl"> <a href="$!webPath/index.htm"></a> </div>
<!--     <form action="" onsubmit="" name="" id="J_TopSearchForm" method="get" class="search_box clearfix fl" style="float:right; margin-top:30px;">
      <div class="zs_left fl"></div>
      <div class="input_box fl">
        <input type="text" id="keyword" name="keyword" maxlength="80" class="search flc" autocomplete="off">
        <ul class="searchmenu" style="display: none;">
        </ul>
      </div>
      <div class="zs_right fl"></div>
      <div class="search_btn fl"></div>
    </form> -->

  </div>
  <div class="yg_sites_tabtn"></div>
<script type="text/javascript" src="http://pc6.amallcdn.cn/assets/js/commodity.js"></script> <!--底层切换-->