.clearfix .blue{background:#6dc5a3;width:20px;height:20px;display:block}
.clearfix .blue1{background:#5ab6df;width:20px;height:20px;display:block}
.clearfix .purple{background:#6a8abe;width:20px;height:20px;display:block}
.clearfix .red{background:#fc8675;width:20px;height:20px;display:block}
.clearfix .green{background:#4acacb;width:20px;height:20px;display:block}
.clearfix .blue1{background:#5ab6df;width:20px;height:20px;display:block}
.panel .wei21{padding-bottom:50px!important;}
.todo-title{font-size:14px;}
.user-states p{line-height:50px;margin-top:8px;font-size:14px;}
.user-states i{margin-right:5px;}
.media-body h4{line-height:30px;margin-top:8px;}
.media-body span{line-height:30px;}