<!DOCTYPE  html>
<html>
<head>
<title>精品在这里！</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="assets/css/base.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="assets/css/index.css"/> <!--基本样式-->
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script src="assets/js/index_banner_menu.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/yg.union.js"></script> 
<link href="assets/css/amall_big_banner.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="assets/js/fwslider.js"></script>
</head>
<body>
<div class="Custom">
  <div class="hd">个性订制 <span>EXCHANGE</span> </div>
  <div class="CustomList">
    <ul>
   	 <li>
    	<a href=""><img src="assets/img/cu11.jpg" />
        <p>WOMEN</p>
        <p class="">女装</p>
        <p>春款热销 夏装新品发布</p></a>  
    </li>
    
    <li>
    	<a href=""><img src="assets/img/cu12.jpg" />
        <p>MEN</p>
        <p class="">男装</p>
        <p>年度最大规模上新来袭</p>  </a>     
    </li>
    <li>
    	<a href=""><img src="assets/img/cu13.jpg" />
        <p>SPORT</p>
        <p class="">运动户外</p>
        <p>本级必备 人气新品</p>  </a>     
    </li>
    <li>
    	<a href=""><img src="assets/img/cu14.jpg" />
        <p>WOMEN'S SHOES</p>
        <p class="">女鞋</p>
        <p>潮流新品 立即换新</p>  </a>     
    </li>
    
    <li>
    	<a href=""><img src="assets/img/cu15.jpg" />
        <p>UNDERWEAR</p>
        <p class="">内衣</p>
        <p>爆款让利 新品劲爆抢</p>  </a>     
    </li>
    
     <li>
    	<a href=""><img src="assets/img/cu16.jpg" />
        <p>RUN</p>
        <p class="">跑步</p>
        <p>大牌好货 优质精选</p></a>  
    </li>
    <li>
    	<a href=""><img src="assets/img/cu17.jpg" />
        <p>MEN'S SHOES</p>
        <p class="">男鞋</p>
        <p>大牌好货 优质精选</p></a>  
    </li>
    
    <li>
    	<a href=""><img src="assets/img/cu18.jpg" />
        <p>MEN'S SHOES</p>
        <p class="">商城同款</p>
        <p>大牌好货 优质精选</p></a>  
    </li>
    
    <li>
    	<a href=""><img src="assets/img/cu19.jpg" />
        <p>MEN'S SHOES</p>
        <p class="">潮流个性</p>
        <p>大牌好货 优质精选</p></a>  
    </li>
    
    <li>
    	<a href=""><img src="assets/img/cu20.jpg" />
        <p>MEN'S SHOES</p>
        <p class="">热卖榜单</p>
        <p>大牌好货 优质精选</p></a>  
    </li> 
    </ul>
  </div>
</div>


<script type="text/javascript">
jQuery(function(){
	jQuery(".pullDown").mouseover(function(){
		jQuery(".pullDownList").show();
		});
	jQuery(".pullDownList").mouseleave(function(){
		jQuery(".pullDownList").hide();
		});
	});
</script>
</body>
</html>