<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.AccessoryMapper" >
  <resultMap id="BaseResultMap" type="com.amall.core.bean.Accessory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="REAL" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="config_id" property="configId" jdbcType="BIGINT" />
    <result column="isMAT" property="ismat" jdbcType="BIT" />
    <association property="config" column="config_id" select="com.amall.core.dao.SysConfigMapper.selectByPrimaryKey"/>
    <association property="album" column="album_id" select="com.amall.core.dao.AlbumMapper.selectByPrimaryKey"/>
    <association property="user" column="user_id" select="com.amall.core.dao.UserMapper.selectByPrimaryKey"/>
    <collection property="goods_list" ofType="com.amall.core.bean.GoodsWithBLOBs" column="goods_list_id" 
    				select="com.amall.core.dao.GoodsMapper.selectByExampleWithBLOBs"/>
    <collection property="goods_main_list" ofType="com.amall.core.bean.GoodsWithBLOBs" column="goods_main_list_id" 
    				select="com.amall.core.dao.GoodsMapper.selectByExampleWithBLOBs"/>
    
  </resultMap>
  
   <resultMap id="ResultMapWithBLOBs" type="com.amall.core.bean.Accessory" extends="BaseResultMap" >
    <result column="opencvMAT" property="opencvmat" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
      id, addTime, deleteStatus, ext, height, info, name, path, size, width, album_id, 
    user_id, config_id,isMAT
  </sql>
   <sql id="Blob_Column_List" >
    opencvMAT
  </sql>
  	<cache />
    <select   id="selectByExample" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.AccessoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithPage" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.AccessoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.AccessoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByPrimaryKey" flushCache="true"  resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
     ,
    <include refid="Blob_Column_List" />
    from amall_accessory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_accessory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.AccessoryExample" >
    delete from amall_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.Accessory" >
    insert into amall_accessory (  id, addTime, deleteStatus, 
      ext, height, info, 
      name, path, size, width, 
      album_id, user_id, config_id)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, 
      #{ext,jdbcType=VARCHAR}, #{height,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{size,jdbcType=REAL}, #{width,jdbcType=INTEGER}, 
      #{albumId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{configId,jdbcType=BIGINT}, #{ismat,jdbcType=BIT})
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.amall.core.bean.Accessory" >
    insert into amall_accessory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="configId != null" >
        config_id,
      </if>
        
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=REAL},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="configId != null" >
        #{configId,jdbcType=BIGINT},
      </if>
       
    </trim>
  </insert>
  <select   id="countByExample" parameterType="com.amall.core.bean.AccessoryExample" resultType="java.lang.Integer" >
    select count(*) from amall_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_accessory
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null" >
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletestatus != null" >
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=REAL},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.albumId != null" >
        album_id = #{record.albumId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.configId != null" >
        config_id = #{record.configId,jdbcType=BIGINT},
      </if>
     
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_accessory
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      ext = #{record.ext,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=INTEGER},
      info = #{record.info,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=REAL},
      width = #{record.width,jdbcType=INTEGER},
      album_id = #{record.albumId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      config_id = #{record.configId,jdbcType=BIGINT},
      
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.Accessory" >
    update amall_accessory
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=REAL},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="configId != null" >
        config_id = #{configId,jdbcType=BIGINT},
      </if>
       <if test="ismat != null" >
        isMAT = #{ismat,jdbcType=BIT},
      </if>
      <if test="opencvmat != null" >
        opencvMAT = #{opencvmat,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.Accessory" >
    update amall_accessory
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      ext = #{ext,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      size = #{size,jdbcType=REAL},
      width = #{width,jdbcType=INTEGER},
      album_id = #{albumId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      config_id = #{configId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select   id="getConfig" parameterType="java.lang.Long" resultType="com.amall.core.bean.SysConfig">
  		select * from amall_sysconfig where id = #{id}
  </select>
  <select   id="getAlbum" parameterType="java.lang.Long" resultType="com.amall.core.bean.Album">
  		select * from amall_album where id = #{id}
  </select>
  <select   id="getUser" parameterType="java.lang.Long" resultType="com.amall.core.bean.User">
  		select * from amall_user where id = #{id}
  </select>
  
  <select   id="getAccListOfGoodsByPhotoId" parameterType="java.lang.Long" flushCache="true"  resultMap="BaseResultMap">
  	    select * from amall_goods g
  	    left join amall_goods_photo gp on g.id = gp.goods_id
  	    left join amall_accessory a on gp.photo_id = a.id
  	    where g.id = #{id}  	    
  </select>
  
</mapper>