<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.ChattingLogMapper" >
  <resultMap id="BaseResultMap" type="com.amall.core.bean.ChattingLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="chatting_id" property="chattingId" jdbcType="BIGINT" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT"/>
    <association property="user" column="user_id" javaType="com.amall.core.bean.User" 
    			select="com.amall.core.dao.UserMapper.selectByPrimaryKey"/>
    <association property="chatting" column="chatting_id" javaType="com.amall.core.bean.Chatting" 
    			select="com.amall.core.dao.ChattingMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.amall.core.bean.ChattingLog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, User_id, chatting_id, mark , goodsId
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <cache/>
  <select   id="selectByExampleWithBLOBs" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.ChattingLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByExampleWithBLOBsAndPage" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.ChattingLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select   id="selectByExample" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.ChattingLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByExampleWithPage" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.ChattingLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select   id="selectByPrimaryKey" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_chattinglog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_chattinglog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.ChattingLogExample" >
    delete from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.ChattingLog" >
    insert into amall_chattinglog (id, addTime, deleteStatus, 
      User_id, chatting_id, mark, 
      content , goodsId)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, 
      #{userId,jdbcType=BIGINT}, #{chattingId,jdbcType=BIGINT}, #{mark,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR} , #{goodsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.amall.core.bean.ChattingLog" >
    
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
	</selectKey>
    insert into amall_chattinglog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="userId != null" >
        User_id,
      </if>
      <if test="chattingId != null" >
        chatting_id,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test=" goodsId !=null">
      	goodsId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="chattingId != null" >
        #{chattingId,jdbcType=BIGINT},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsId != null">
      	#{goodsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select   id="countByExample" parameterType="com.amall.core.bean.ChattingLogExample" resultType="java.lang.Integer" >
    select count(*) from amall_chattinglog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_chattinglog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null" >
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletestatus != null" >
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.userId != null" >
        User_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.chattingId != null" >
        chatting_id = #{record.chattingId,jdbcType=BIGINT},
      </if>
      <if test="record.mark != null" >
        mark = #{record.mark,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.goodsId != null ">
      	goodsId = #{record.goodsId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update amall_chattinglog
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      User_id = #{record.userId,jdbcType=BIGINT},
      chatting_id = #{record.chattingId,jdbcType=BIGINT},
      mark = #{record.mark,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR},
      goodsId = #{record.goodsId,jdbcType=BIGINT},
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_chattinglog
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      User_id = #{record.userId,jdbcType=BIGINT},
      chatting_id = #{record.chattingId,jdbcType=BIGINT},
      mark = #{record.mark,jdbcType=INTEGER},
      goodsId = #{record.goodsId , jdbcType=BIGINT},
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.ChattingLog" >
    update amall_chattinglog
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="userId != null" >
        User_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="chattingId != null" >
        chatting_id = #{chattingId,jdbcType=BIGINT},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsId != null">
      	goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.amall.core.bean.ChattingLog" >
    update amall_chattinglog
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      User_id = #{userId,jdbcType=BIGINT},
      chatting_id = #{chattingId,jdbcType=BIGINT},
      mark = #{mark,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      goodsId = #{goodsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.ChattingLog" >
    update amall_chattinglog
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      User_id = #{userId,jdbcType=BIGINT},
      chatting_id = #{chattingId,jdbcType=BIGINT},
      mark = #{mark,jdbcType=INTEGER},
      goodsId = #{goodsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select   id="selectLogsByMarkAndUser1Id" parameterType="java.lang.Long" flushCache="true"  resultMap="BaseResultMap">
  	select l.* from amall_chattinglog l 
  	left join amall_chatting c on c.id = l.chatting_id
  	where c.user1_id = #{id}
  	and l.mark = 1 
  	group by l.user_id
  </select>
</mapper>