<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.CloudOpenMapper" >

  <resultMap id="BaseResultMap" type="com.amall.core.bean.CloudOpen" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="cloud_Goods_id" property="cloudGoodsId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="cloud_code" property="cloudCode" jdbcType="INTEGER" />
    <result column="show_order_id" property="showOrderId" jdbcType="BIGINT" />
    <result column="buy_count" property="buyCount" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    
    <association property="user" column="user_id" javaType="com.amall.core.bean.User"
    			select="com.amall.core.dao.UserMapper.selectByPrimaryKey"/>
	
	<association property="cloudGoods" column="cloud_Goods_id" javaType="com.amall.core.bean.CloudGoods"
    			select="com.amall.core.dao.CloudGoodsMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, addTime, cloud_Goods_id, user_id, cloud_code, show_order_id, buy_count, order_id
  </sql>
  <select   id="selectByExample" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.CloudOpenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_cloud_open
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByExampleWithPage" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.CloudOpenExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_cloud_open
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
	 limit #{startRow},#{pageSize}
    </if>
  </select>
  <select   id="selectByPrimaryKey" flushCache="true"  resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from amall_cloud_open
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_cloud_open
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.CloudOpenExample" >
    delete from amall_cloud_open
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.CloudOpen" >
    insert into amall_cloud_open (id, addTime, cloud_Goods_id, 
      user_id, cloud_code, show_order_id, 
      buy_count, order_id)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{cloudGoodsId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{cloudCode,jdbcType=INTEGER}, #{showOrderId,jdbcType=BIGINT}, 
      #{buyCount,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.amall.core.bean.CloudOpen" >
    insert into amall_cloud_open
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="cloudGoodsId != null" >
        cloud_Goods_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cloudCode != null" >
        cloud_code,
      </if>
      <if test="showOrderId != null" >
        show_order_id,
      </if>
      <if test="buyCount != null" >
        buy_count,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cloudGoodsId != null" >
        #{cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cloudCode != null" >
        #{cloudCode,jdbcType=INTEGER},
      </if>
      <if test="showOrderId != null" >
        #{showOrderId,jdbcType=BIGINT},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select   id="countByExample" parameterType="com.amall.core.bean.CloudOpenExample" resultType="java.lang.Integer" >
    select count(*) from amall_cloud_open
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_cloud_open
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null" >
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cloudGoodsId != null" >
        cloud_Goods_id = #{record.cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.cloudCode != null" >
        cloud_code = #{record.cloudCode,jdbcType=INTEGER},
      </if>
      <if test="record.showOrderId != null" >
        show_order_id = #{record.showOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.buyCount != null" >
        buy_count = #{record.buyCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_cloud_open
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      cloud_Goods_id = #{record.cloudGoodsId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      cloud_code = #{record.cloudCode,jdbcType=INTEGER},
      show_order_id = #{record.showOrderId,jdbcType=BIGINT},
      buy_count = #{record.buyCount,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.CloudOpen" >
    update amall_cloud_open
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cloudGoodsId != null" >
        cloud_Goods_id = #{cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cloudCode != null" >
        cloud_code = #{cloudCode,jdbcType=INTEGER},
      </if>
      <if test="showOrderId != null" >
        show_order_id = #{showOrderId,jdbcType=BIGINT},
      </if>
      <if test="buyCount != null" >
        buy_count = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.CloudOpen" >
    update amall_cloud_open
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      cloud_Goods_id = #{cloudGoodsId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      cloud_code = #{cloudCode,jdbcType=INTEGER},
      show_order_id = #{showOrderId,jdbcType=BIGINT},
      buy_count = #{buyCount,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>