<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.CloudBuyCodesMapper" >

  <resultMap id="BaseResultMap" type="com.amall.core.bean.CloudBuyCodes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cloud_Goods_id" property="cloudGoodsId" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="select_number" property="selectNumber" jdbcType="INTEGER" />
    <result column="buy_count" property="buyCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.amall.core.bean.CloudBuyCodes" extends="BaseResultMap" >
    <result column="codes" property="codes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cloud_Goods_id, add_time, user_id, select_number, buy_count
  </sql>
  <sql id="Blob_Column_List" >
    codes
  </sql>
  <select   id="selectByExampleWithBLOBs" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.CloudBuyCodesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_cloud_buy_codes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByExample" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.CloudBuyCodesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_cloud_buy_codes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByExampleWithBLOBsAndPage" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="com.amall.core.bean.CloudBuyCodesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_cloud_buy_codes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select   id="selectByPrimaryKey" flushCache="true"  resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from amall_cloud_buy_codes
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_cloud_buy_codes
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.CloudBuyCodesExample" >
    delete from amall_cloud_buy_codes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.CloudBuyCodes" >
    insert into amall_cloud_buy_codes (id, cloud_Goods_id, add_time, 
      user_id, select_number, buy_count, 
      codes)
    values (#{id,jdbcType=BIGINT}, #{cloudGoodsId,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=BIGINT}, #{selectNumber,jdbcType=INTEGER}, #{buyCount,jdbcType=INTEGER}, 
      #{codes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amall.core.bean.CloudBuyCodes" >
    insert into amall_cloud_buy_codes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cloudGoodsId != null" >
        cloud_Goods_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="selectNumber != null" >
        select_number,
      </if>
      <if test="buyCount != null" >
        buy_count,
      </if>
      <if test="codes != null" >
        codes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cloudGoodsId != null" >
        #{cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="selectNumber != null" >
        #{selectNumber,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="codes != null" >
        #{codes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select   id="countByExample" parameterType="com.amall.core.bean.CloudBuyCodesExample" resultType="java.lang.Integer" >
    select count(*) from amall_cloud_buy_codes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_cloud_buy_codes
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cloudGoodsId != null" >
        cloud_Goods_id = #{record.cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.selectNumber != null" >
        select_number = #{record.selectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.buyCount != null" >
        buy_count = #{record.buyCount,jdbcType=INTEGER},
      </if>
      <if test="record.codes != null" >
        codes = #{record.codes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update amall_cloud_buy_codes
    set id = #{record.id,jdbcType=BIGINT},
      cloud_Goods_id = #{record.cloudGoodsId,jdbcType=BIGINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=BIGINT},
      select_number = #{record.selectNumber,jdbcType=INTEGER},
      buy_count = #{record.buyCount,jdbcType=INTEGER},
      codes = #{record.codes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_cloud_buy_codes
    set id = #{record.id,jdbcType=BIGINT},
      cloud_Goods_id = #{record.cloudGoodsId,jdbcType=BIGINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=BIGINT},
      select_number = #{record.selectNumber,jdbcType=INTEGER},
      buy_count = #{record.buyCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.CloudBuyCodes" >
    update amall_cloud_buy_codes
    <set >
      <if test="cloudGoodsId != null" >
        cloud_Goods_id = #{cloudGoodsId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="selectNumber != null" >
        select_number = #{selectNumber,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null" >
        buy_count = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="codes != null" >
        codes = #{codes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.amall.core.bean.CloudBuyCodes" >
    update amall_cloud_buy_codes
    set cloud_Goods_id = #{cloudGoodsId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      select_number = #{selectNumber,jdbcType=INTEGER},
      buy_count = #{buyCount,jdbcType=INTEGER},
      codes = #{codes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.CloudBuyCodes" >
    update amall_cloud_buy_codes
    set cloud_Goods_id = #{cloudGoodsId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      select_number = #{selectNumber,jdbcType=INTEGER},
      buy_count = #{buyCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>