<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.CloudStatisticsMapper" >

  <resultMap id="BaseResultMap" type="com.amall.core.bean.CloudStatistics" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="goods_count" property="goodsCount" jdbcType="BIGINT" />
    <result column="user_count" property="userCount" jdbcType="BIGINT" />
    <result column="angel_coin_count" property="angelCoinCount" jdbcType="BIGINT" />
    <result column="goods_pass_count" property="goodsPassCount" jdbcType="BIGINT" />
    <result column="goods_winner_count" property="goodsWinnerCount" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, addTime, goods_count, user_count, angel_coin_count, goods_pass_count, goods_winner_count
  </sql>
  <select   id="selectByExample" flushCache="true"  resultMap="BaseResultMap" parameterType="com.amall.core.bean.CloudStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_cloud_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select   id="selectByPrimaryKey" flushCache="true"  resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from amall_cloud_statistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_cloud_statistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.CloudStatisticsExample" >
    delete from amall_cloud_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.CloudStatistics" >
    insert into amall_cloud_statistics (id, addTime, goods_count, 
      user_count, angel_coin_count, goods_pass_count, 
      goods_winner_count)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{goodsCount,jdbcType=BIGINT}, 
      #{userCount,jdbcType=BIGINT}, #{angelCoinCount,jdbcType=BIGINT}, #{goodsPassCount,jdbcType=BIGINT}, 
      #{goodsWinnerCount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.amall.core.bean.CloudStatistics" >
    insert into amall_cloud_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="goodsCount != null" >
        goods_count,
      </if>
      <if test="userCount != null" >
        user_count,
      </if>
      <if test="angelCoinCount != null" >
        angel_coin_count,
      </if>
      <if test="goodsPassCount != null" >
        goods_pass_count,
      </if>
      <if test="goodsWinnerCount != null" >
        goods_winner_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsCount != null" >
        #{goodsCount,jdbcType=BIGINT},
      </if>
      <if test="userCount != null" >
        #{userCount,jdbcType=BIGINT},
      </if>
      <if test="angelCoinCount != null" >
        #{angelCoinCount,jdbcType=BIGINT},
      </if>
      <if test="goodsPassCount != null" >
        #{goodsPassCount,jdbcType=BIGINT},
      </if>
      <if test="goodsWinnerCount != null" >
        #{goodsWinnerCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select   id="countByExample" parameterType="com.amall.core.bean.CloudStatisticsExample" resultType="java.lang.Integer" >
    select count(*) from amall_cloud_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_cloud_statistics
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null" >
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsCount != null" >
        goods_count = #{record.goodsCount,jdbcType=BIGINT},
      </if>
      <if test="record.userCount != null" >
        user_count = #{record.userCount,jdbcType=BIGINT},
      </if>
      <if test="record.angelCoinCount != null" >
        angel_coin_count = #{record.angelCoinCount,jdbcType=BIGINT},
      </if>
      <if test="record.goodsPassCount != null" >
        goods_pass_count = #{record.goodsPassCount,jdbcType=BIGINT},
      </if>
      <if test="record.goodsWinnerCount != null" >
        goods_winner_count = #{record.goodsWinnerCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_cloud_statistics
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      goods_count = #{record.goodsCount,jdbcType=BIGINT},
      user_count = #{record.userCount,jdbcType=BIGINT},
      angel_coin_count = #{record.angelCoinCount,jdbcType=BIGINT},
      goods_pass_count = #{record.goodsPassCount,jdbcType=BIGINT},
      goods_winner_count = #{record.goodsWinnerCount,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.CloudStatistics" >
    update amall_cloud_statistics
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsCount != null" >
        goods_count = #{goodsCount,jdbcType=BIGINT},
      </if>
      <if test="userCount != null" >
        user_count = #{userCount,jdbcType=BIGINT},
      </if>
      <if test="angelCoinCount != null" >
        angel_coin_count = #{angelCoinCount,jdbcType=BIGINT},
      </if>
      <if test="goodsPassCount != null" >
        goods_pass_count = #{goodsPassCount,jdbcType=BIGINT},
      </if>
      <if test="goodsWinnerCount != null" >
        goods_winner_count = #{goodsWinnerCount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.CloudStatistics" >
    update amall_cloud_statistics
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      goods_count = #{goodsCount,jdbcType=BIGINT},
      user_count = #{userCount,jdbcType=BIGINT},
      angel_coin_count = #{angelCoinCount,jdbcType=BIGINT},
      goods_pass_count = #{goodsPassCount,jdbcType=BIGINT},
      goods_winner_count = #{goodsWinnerCount,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>