<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.core.dao.WeekBenifitMapper" >
  <resultMap id="BaseResultMap" type="com.amall.core.bean.WeekBenifit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="week" property="week" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="totalAmount" property="totalamount" jdbcType="DECIMAL" />
    <result column="dou" property="dou" jdbcType="DECIMAL" />
    <result column="users" property="users" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, week, addTime, totalAmount, dou, users
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.amall.core.bean.WeekBenifitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amall_week_benifit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from amall_week_benifit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amall_week_benifit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.amall.core.bean.WeekBenifitExample" >
    delete from amall_week_benifit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.amall.core.bean.WeekBenifit" >
    insert into amall_week_benifit (id, week, addTime, 
      totalAmount, dou, users
      )
    values (#{id,jdbcType=BIGINT}, #{week,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, 
      #{totalamount,jdbcType=DECIMAL}, #{dou,jdbcType=DECIMAL}, #{users,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.amall.core.bean.WeekBenifit" >
    insert into amall_week_benifit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="totalamount != null" >
        totalAmount,
      </if>
      <if test="dou != null" >
        dou,
      </if>
      <if test="users != null" >
        users,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="week != null" >
        #{week,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="dou != null" >
        #{dou,jdbcType=DECIMAL},
      </if>
      <if test="users != null" >
        #{users,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.amall.core.bean.WeekBenifitExample" resultType="java.lang.Integer" >
    select count(*) from amall_week_benifit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amall_week_benifit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.week != null" >
        week = #{record.week,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null" >
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalamount != null" >
        totalAmount = #{record.totalamount,jdbcType=DECIMAL},
      </if>
      <if test="record.dou != null" >
        dou = #{record.dou,jdbcType=DECIMAL},
      </if>
      <if test="record.users != null" >
        users = #{record.users,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amall_week_benifit
    set id = #{record.id,jdbcType=BIGINT},
      week = #{record.week,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      totalAmount = #{record.totalamount,jdbcType=DECIMAL},
      dou = #{record.dou,jdbcType=DECIMAL},
      users = #{record.users,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.core.bean.WeekBenifit" >
    update amall_week_benifit
    <set >
      <if test="week != null" >
        week = #{week,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalamount != null" >
        totalAmount = #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="dou != null" >
        dou = #{dou,jdbcType=DECIMAL},
      </if>
      <if test="users != null" >
        users = #{users,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.core.bean.WeekBenifit" >
    update amall_week_benifit
    set week = #{week,jdbcType=BIGINT},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      dou = #{dou,jdbcType=DECIMAL},
      users = #{users,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>