<!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="$!webPath/ad/menu.htm"><i class="fa fa-home"></i> <span>首页</span></a></li>

                <li class="menu-list"><a href=""><i class="fa fa-group"></i> <span>会员</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="$!webPath/ad/member.htm"> 会员管理</a></li>
                        <li><a href="$!webPath/ad/affirm.htm"> 实名认证</a></li>
                        <li><a href="#"> 会员通知</a></li>
                        <li><a href="#"> 会员礼品金</a></li>
                     </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>商品</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 分类管理</a></li>
                        <li><a href="#"> 类型管理</a></li>
                        <li><a href="#"> 规格管理</a></li>
                        <li><a href="#"> 品牌管理</a></li>
                        <li><a href="#"> 商品评价</a></li>
                        <li><a href="#"> 商品管理</a></li> 
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-user-md"></i> <span>店铺</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 店铺管理</a></li>
                        <li><a href="#"> 店铺模板</a></li>
                        <li><a href="#"> 店铺分类</a></li>
                        <li><a href="#"> 店铺等级</a></li>
                        <li><a href="#"> 商家信用</a></li>

                    </ul>
                </li> 
                <li class="menu-list"><a href=""><i class="fa fa-money"></i> <span>交易</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 订单管理</a></li>
                        <li><a href="#"> 订单设置</a></li>
                        <li><a href="#"> 退款/退货管理</a></li>
                        <li><a href="#"> 提现管理</a></li>
                        <li><a href="#"> 投诉/举报管理</a></li>
                        <li><a href="#"> 咨询管理</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>运营</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 积分商城</a></li>
                        <li><a href="#"> 楼层管理</a></li>
                        <li><a href="#"> PC广告管理</a></li>
                        <li><a href="#"> WAP广告管理</a></li>
                        <li><a href="#"> 促销管理</a></li>
                        <li><a href="#"> 消息推送</a></li>
                        <li><a href="#"> 公告</a></li>
                        <li><a href="#"> 商城通知</a></li>
                        <li><a href="#"> 推广信息标题设置</a></li>
                        <li><a href="#"> 快递设置</a></li>
                        <li><a href="#"> 短信发送</a></li>
                        <li><a href="#"> 优惠券管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>统计</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 会员充值统计</a></li>
                        <li><a href="#"> 会员账户升级统计</a></li>
                        <li><a href="#"> 店铺分红统计</a></li>
                        <li><a href="#"> 平台收入统计</a></li>
                        <li><a href="#"> 平台用户分红提现</a></li>
                    </ul>
                </li>  
                <li class="menu-list"><a href="#"><i class="fa fa-wrench"></i> <span>工具</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 缓存管理</a></li>
                        <li><a href="#"> 数据库管理</a></li>
                        <li><a href="#"> 全文检索</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cog"></i> <span>设置</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 管理员管理</a></li>
                        <li><a href="#"> 站点设置</a></li>
                        <li><a href="#"> 上传设置</a></li>
                        <li><a href="#"> SEO设置</a></li>
                        <li><a href="#"> Email设置</a></li>
                        <li><a href="#"> 短信设置</a></li>
                        <li><a href="#"> 二级域名</a></li>
                        <li><a href="#"> 通知模板</a></li>
                        <li><a href="#"> 支付管理</a></li> 
                    </ul>
                </li>
                  <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>网站</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 合伙伙伴</a></li> 
                    </ul>
                </li>
            </ul>
            <!--sidebar nav end-->