<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">
<link rel="shortcut icon" href="#" type="image/png">

<title>天使Amall-后台管理系统</title> 
<link rel="shortcut icon" href="http://pc3.amallcdn.cn/assets/img/favicon.ico" type="image/x-icon">
<link href="$!webPath/resources/admin21/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
<link href="$!webPath/resources/admin21/js/iCheck/skins/square/square.css" rel="stylesheet">
<link href="$!webPath/resources/admin21/js/iCheck/skins/square/red.css" rel="stylesheet">
<link href="$!webPath/resources/admin21/js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="$!webPath/resources/admin21/css/member.css" rel="stylesheet">

<link href="$!webPath/resources/admin21/css/clndr.css" rel="stylesheet"> 
<link href="$!webPath/resources/admin21/css/style.css" rel="stylesheet">
<link href="$!webPath/resources/admin21/css/style-responsive.css" rel="stylesheet"> 
<link href="$!webPath/resources/admin21/js/morris-chart/morris.css" rel="stylesheet" >
<script src="$!webPath/resources/admin21/js/html5shiv.js"></script>
<script src="$!webPath/resources/admin21/js/respond.min.js"></script>
  
</head>

<body class="sticky-header">
 <section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="$!webPath/resources/admin21/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="$!webPath/resources/admin21/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

         <div class="left-side-inner">

            <!-- visible to small devices only -->
              <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="$!webPath/resources/admin21/images/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">ts</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title"> 
                <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/menu.htm'"><i class="fa fa-home"></i><span>首页</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/member.htm'"><i class="fa fa-group"></i><span>会员</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/store.htm'"><i class="fa fa-user-md"></i><span>店铺</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/goods.htm'"><i class="fa fa-book"></i><span>商品</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/trade.htm'"><i class="fa fa-money"></i><span>交易</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/run.htm'"><i class="fa fa-tasks"></i><span>运营</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/census.htm'"><i class="fa fa-bar-chart-o"></i><span>统计</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/tool.htm'"><i class="fa fa-wrench"></i><span>工具</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/setup.htm'"><i class="fa fa-cog"></i><span>设置</span></button>
		        <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/website.htm'"><i class="fa fa-file-text"></i><span>网站</span></button> 
                </h5>
               <h5 class="media logged-user">详情信息</h5>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav"> 
                <li class=""><a href="$!webPath/ad/run.htm"><i class="fa fa-user"></i> <span>积分商城</span></a></li>
                <li class=""><a href="$!webPath/ad/run_storey.htm"><i class="fa fa-user-md"></i> <span>楼层管理</span></a></li> 
                <li class=""><a href="$!webPath/ad/run_advert_pc.htm"><i class="fa fa-bullhorn"></i> <span>PC广告管理</span></a></li>
                <li class=""><a href="$!webPath/ad/run_advert_wap.htm"><i class="fa fa-btc"></i> <span>WAP广告管理</span></a></li>  
                <li class="active"><a href="$!webPath/ad/run_sales.htm"><i class="fa fa-btc"></i> <span>促销管理</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_news.htm"><i class="fa fa-btc"></i> <span>消息推送</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_advert.htm"><i class="fa fa-btc"></i> <span>公告</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_notice.htm"><i class="fa fa-btc"></i> <span>商城通知</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_fastmail.htm"><i class="fa fa-btc"></i> <span>快递设置</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_message.htm"><i class="fa fa-btc"></i> <span>短信发送</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_coupon.htm"><i class="fa fa-btc"></i> <span>优惠券管理</span></a></li>  
                <li class=""><a href="$!webPath/ad/run_information.htm"><i class="fa fa-btc"></i> <span>推广信息标题设置</span></a></li>  
            </ul>
            <!--sidebar nav end--> 
        </div>
    </div>
<!-- left side end-->

<!-- main content start-->
<div class="main-content" >
 $!httpInclude.include("/ad/top.htm") 
<section class="panel">
                        <header class="panel-heading custom-tab turquoise-tab1">
                            <ul class="nav nav-tabs"> 
                                <li class="active">
                                    <a data-toggle="tab" href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-user"></i>
                                                                                                     促销管理 管理
                                    </a>
                                </li> 
                            </ul>
                        </header>
                        
</section>
$!httpInclude.include("/ad/bottom.htm")  

<!-- Placed js at the end of the document so the pages load faster -->
<script src="$!webPath/resources/admin21/js/jquery-1.10.2.min.js"></script>
<script src="$!webPath/resources/admin21/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$!webPath/resources/admin21/js/jquery-migrate-1.2.1.min.js"></script>
<script src="$!webPath/resources/admin21/js/bootstrap.min.js"></script>
<script src="$!webPath/resources/admin21/js/modernizr.min.js"></script>
<script src="$!webPath/resources/admin21/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="$!webPath/resources/admin21/js/easypiechart/jquery.easypiechart.js"></script>
<script src="$!webPath/resources/admin21/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="$!webPath/resources/admin21/js/sparkline/jquery.sparkline.js"></script>
<script src="$!webPath/resources/admin21/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="$!webPath/resources/admin21/js/iCheck/jquery.icheck.js"></script>
<script src="$!webPath/resources/admin21/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="$!webPath/resources/admin21/js/flot-chart/jquery.flot.js"></script>
<script src="$!webPath/resources/admin21/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="$!webPath/resources/admin21/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="$!webPath/resources/admin21/js/morris-chart/morris.js"></script>
<script src="$!webPath/resources/admin21/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="$!webPath/resources/admin21/js/calendar/clndr.js"></script>
<script src="$!webPath/resources/admin21/js/calendar/evnt.calendar.init.js"></script>
<script src="$!webPath/resources/admin21/js/calendar/moment-2.2.1.js"></script>
<script src="$!webPath/resources/admin21/js/calendar/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="$!webPath/resources/admin21/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="$!webPath/resources/admin21/js/dashboard-chart-init.js"></script> 
<script type="text/javascript">
$(document).ready(function(){  
	$(".left-nav-title .btn-primary:eq(5)").css({"color":"#65cea7","background":"#353f4f"});
	$(".btn-group .btn-primary:eq(5)").css({"color":"#65cea7","background":"#353f4f"});	 
})
</script>
</body>
</html>