 <!-- header section start-->
 <div class="header-section">

     <!--toggle button start-->
     <a class="toggle-btn"><i class="fa fa-bars"></i></a>
     <!--toggle button end-->

      

     <!--notification menu start -->
     <div class="menu-right">
                <ul class="notification-menu">   
                    <li class="">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="$!webPath/resources/admin21/images/user-avatar.png" alt="">
                            ts
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="$!webPath/index.htm"><i class="fa fa-home"></i>商城首页</a></li>
                            <li><a href="$!webPath/ad/modify_password.htm"><i class="fa fa-lock"></i>修改密码</a></li>
                            <li><a href="$!webPath/ad/login.htm"><i class="fa fa-sign-out"></i>安全退出</a></li>
                        </ul>
                    </li> 
                </ul>
            </div>
     <div class="menu-left"> 
       <div style="margin: 9px 0 5px;" class="btn-group">
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/menu.htm'"><i class="fa fa-home"></i><span>首页</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/member.htm'"><i class="fa fa-group"></i><span>会员</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/store.htm'"><i class="fa fa-trophy"></i><span>店铺</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/goods.htm'"><i class="fa fa-book"></i><span>商品</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/trade.htm'"><i class="fa fa-money"></i><span>交易</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/run.htm'"><i class="fa fa-tasks"></i><span>运营</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/census.htm'"><i class="fa fa-bar-chart-o"></i><span>统计</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/tool.htm'"><i class="fa fa-wrench"></i><span>工具</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/setup.htm'"><i class="fa fa-cog"></i><span>设置</span></button>
         <button class="btn btn-primary" type="button" onclick="javascript:window.location.href='$!webPath/ad/website.htm'"><i class="fa fa-file-text"></i><span>网站</span></button> 
       </div> 
     </div> 
     <!--notification menu end -->

</div>
<!-- header section end-->  