<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
$!httpInclude.include("/top.htm")
$!httpInclude.include("/store_head.htm")
<html> 
<body> 
  $!httpInclude.include("/store_menu.htm")
  <div class="w100" style=" background-image:url($!webPath/assets/img/shop/demo_bg.jpg)">
  	<div class="w990">
    	<div class="w100"><img src="$!webPath/assets/img/shop/list_tit.png" /></div>
        <div class="list2">
        	<ul>
            	<li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d1.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj">￥<b>8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a> 
                        </div>
                    </div>
                </li>
                
                
                <li style="margin-right:0">
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d2.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj"><font style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">￥</font><b style="font-size:28px;">8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a>
                        </div>
                    </div>                   
                </li>
                <li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d4.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj"><font style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">￥</font><b style="font-size:28px;">8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a>
                        </div>
                    </div>                   
                </li>
                <li style="margin-right:0">
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d3.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj"><font style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">￥</font><b style="font-size:28px;">8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a>
                        </div>
                    </div>                   
                </li>
            </ul>
        </div>
    </div> 
    
    <div class="w990">
    	<div class="w100"><img src="$!webPath/assets/img/shop/list_tit.png" /></div>
        <div class="list3">
        	<ul>
            	<li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d1.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj">￥<b>8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a> 
                        </div>
                    </div>
                </li>
                
                <li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d3.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj">￥<b>8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a> 
                        </div>
                    </div>
                </li>
                
                <li style="margin-right:0">
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d2.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj"><font style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">￥</font><b style="font-size:28px;">8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a>
                        </div>
                    </div>                   
                </li> 
                
                <li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d1.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj">￥<b>8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a> 
                        </div>
                    </div>
                </li>
                
                <li>
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d3.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj">￥<b>8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a> 
                        </div>
                    </div>
                </li>
                
                <li style="margin-right:0">
                	<div class="pic_box"><img src="$!webPath/assets/img/shop/d2.jpg" width="99.5%" /></div>
                    <div class="desc">
                    	<div class="price">
                            <span class="xj"><font style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">￥</font><b style="font-size:28px;">8.9</b></span>
                            <span class="yj">原价:89</span>
                        </div>
                        <div class="rr">
                            <a href="">立即购买</a>
                        </div>
                    </div>                   
                </li>

            </ul>
        </div>
    </div>
     
    
    <div class="w990">
    	<div class="w100"><img src="$!webPath/assets/img/shop/list_tit.png" /></div>
        <div class="list4">
        	<ul>
            	<li><img src="$!webPath/assets/img/shop/d5.jpg" /></li>
                <li><img src="$!webPath/assets/img/shop/d6.jpg" /></li>
                <li><img src="$!webPath/assets/img/shop/d7.jpg" /></li>
                <li style="margin-right:0"><img src="$!webPath/assets/img/shop/d8.jpg" /></li>

				<li><img src="$!webPath/assets/img/shop/d5.jpg" /></li>
                <li><img src="$!webPath/assets/img/shop/d8.jpg" /></li>
                <li><img src="$!webPath/assets/img/shop/d6.jpg" /></li>
                <li style="margin-right:0"><img src="$!webPath/assets/img/shop/d7.jpg" /></li    
            ></ul>
        </div>
    </div>
  </div>
  
    <div class="w100">
  	<img src="$!webPath/assets/img/shop/b_img.jpg" />
  </div>
  
</div>

</body>
</html>
$!httpInclude.include("/footer.htm")