<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">


	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<!-- spring的监听器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- sesssion 失效监听器  -->
	<listener>   
	<listener-class>com.amall.core.security.support.SessionListener</listener-class>   
	</listener>  
	
	<!-- log4j -->
	<context-param>  
        <param-name>log4jConfigLocation</param-name>  
        <param-value>classpath:/properties/log4j.properties</param-value>  
    </context-param> 
     <listener>  
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
    </listener>  
	
	<!-- 中文过滤器 -->
	
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<!--强制转换编码(request和response均适用) -->
			<param-name>ForceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<!-- springSecurity -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!--URL伪静态-->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!-- 自定义的ServletContext 加载监听器 ，将当前的所有URL放入上下文中 -->
	<listener>
		<listener-class>com.amall.core.web.loader.ServletContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>amall.root</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	<!-- 网页压缩过滤器 -->
	<filter>
		<filter-name>GZIPEncoder</filter-name>
		<filter-class>com.amall.common.zip.CompressionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPEncoder</filter-name>
		<servlet-name>/amall</servlet-name>
	</filter-mapping>
	
	<!-- sso -->
	
	<!--  <filter>
		<filter-name>secondDomainFilter</filter-name>
		<filter-class>com.amall.core.web.filter.SecondDomainFilter</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter> 
	<filter-mapping>
		<filter-name>secondDomainFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping> -->
	
	<!-- 对页面请求的 路径 进行过滤， 之后重定向到不同的页面 -->
	<filter>
		<filter-name>shopFilter</filter-name>
		<filter-class>com.amall.core.web.filter.ShopFilter</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shopFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!-- springmvc 配置 -->
	<servlet>
		<servlet-name>amall</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>amall</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	
	<!-- 文件上传servlet -->
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.amall.core.web.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/image/upload</url-pattern>
	</servlet-mapping>
	
	
	
	<error-page>
		<error-code>500</error-code>
		<location>/user/login.htm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.htm</location>
	</error-page>
	
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>application/txt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>
</web-app>
