<!DOCTYPE  html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/base.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc1.amallcdn.cn/assets/css/index.css"/> <!--基本样式-->
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://pc2.amallcdn.cn/assets/css/user.css">
<link rel="stylesheet" type="text/css" href="http://pc3.amallcdn.cn/assets/css/address.css">
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="http://pc4.amallcdn.cn/assets/js/j-accordin.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	var typeId = "$!typeId";
	
	//console.info("isPartner -> "+isPartner);
	$("#myIntegral").mouseover(function(){
		$("#ingeralBox").css("display","block");
	}).mouseout(function(){
		$("#ingeralBox").css("display","none");
	});
	
	$("#share_a").click(function(){
		if(typeId == "3"){
			alert("请到会员中心去分享.");
		}else{
			$("#share_ar").show();	
		}
	});
	
	$("#share_b1").click(function(){
		if(typeId == "4"){
			alert("商家不能申请成为会员");
			return false;
		}
	});
	
	$(".share_close").bind("click",function(){
		$("#share_ar").hide();
	});
	
	var lis = $(".share_icon ul li");
	var length = lis.size();
	jQuery.each(lis,function(index,val){
		var t = (index+1)%7;
		if(t == 0){
			/* console.info($(this)); */
			$(this).css("margin-right","0px");
		}
	});
	
	var appShareUrl = $("#appRegUrl").val();
	//console.info("appShareUrl -> "+appShareUrl);
	window._bd_share_config={
		"share":{
			"bdText":"天使红包分享",
			"bdMini":"1",
			"bdMiniList":false,
			"bdPic":"",
			"bdUrl":appShareUrl,
			"bdStyle":"1",
			"bdSize":"32",
		}
	};
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
	
});
</script>  
  
</head>
<body style="background-color:#fff">
$!httpInclude.include("/top.htm")	
$!httpInclude.include("/buyer/buyer_header.htm") 
<div class="user_main w1200">
	$!httpInclude.include("/buyer/buyer_left.htm")
	<div id="rightBody">
	
<!--  中央区  -->
    <div class="news_article_box" id="" style="border: 1px solid #ddd;width: 828px;float:left; margin-left:10px;  display:block; overflow:hidden;">
    	<div class="news_article_titlebox" style="width: 788px;height: 60px;margin-left: 20px;border-bottom: 1px solid #e04646;">
    		<span class="news_article_title" >天使平台规则</span>
    		<br/><span style="width: 150px;display: inline-block;">日期：2015.10.20</span>
    		<span style="width: 150px;display: inline-block;">来源：<i style="color: #000;">Amall商城</i></span>
    	</div>
    	
<!--     	<div class="news_article_img" style="width: 555px;height:290px;margin:20px auto;background-color:  #f1f1f1;"><img alt="" src=""> </div> -->
    	<div class="news_article_content">
    	<!-- 内容区 -->
	<p>
    <h1 >第一章 概述</h1>
  	     为促进开放、透明、分享、责任、诚信的新商业文明</a>，保障天使用户合法权益，维护天使正常经营秩序，根据《天使平台规则》及《天使服务协议》，制定本规则。 <br>
  	  1.1天使规则，是对天使用户增加基本义务或限制基本权利的条款。<br>
  	  1.2天使规则，是对天使用户增加基本义务或限制基本权利的条款。天使官方发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等）中提及的天使规则包括天使规则。 <br>
  	  1.3违规行为的认定与处理，应基于天使认定的事实并严格依规执行。天使用户在适用规则上一律平等。关于特殊品类商品的管理，本规则未涉及的和该特殊品类管理规范中另有规定的，从其规定。<br>
  	  1.4用户应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规则已有规定的，适用本规则；本规则尚无规定的，天使有权酌情处理。但天使对用户的处理不免除其应尽的法律责任。<br>
  	  用户在天使的任何行为，应同时遵守与天使及其关联公司所签订的各项协议。<br>
  	  天使有权随时变更本规则并在网站上予以公告。若用户不同意相关变更，应立即停止使用天使的相关服务或产品。天使有权对用户行为及应适用的规则进行单方认定，并据此处理。<br>
  	  <br/><h1>第二章 定义</h1>
  	  2.1天使，域名为 amall.com。<br>
  	  2.2用户，指具有完全民事行为能力的天使各项服务的使用者。 <br>
  	  2.3会员，指与天使签订《天使服务协议》并完成注册流程的用户。<br>
  	  2.4买家，指在天使上浏览或购买商品的用户。 <br>
  	  2.5卖家，指在天使上发布商品的会员，天使卖家也称为“商家”。 <br>
  	  2.6拍下，指买家在天使上点击并确认购买的行为。 <br>
  	  2.7订单，指买家向单一商家同一时间拍下单款或多款商品的合约。订单中针对任一款商品的内容构成独立的交易。<br>
  	  2.8绑定，指天使账户与支付宝账户一一对应。 <br>
  	  2.9商品发布数量，指商家在天使上出售中及在线上仓库中商品款数的总和。 <br>
  	  2.10退货运费险,指保险公司为投保该险种的天使会员支付单次退货运费。 <br>
  	  2.11分销商品，指天使分销平台分销商从其供应商获取并出售的商品。 <br>
  	  2.12节点处理，指当会员违规扣分累计达到一定分值时而被执行处理的过程。 <br>
  	  2.13店铺装修区，指店铺招牌、商品分类、公告栏、促销区、广告牌等店铺相关模块。<br>
  	  2.14成交，指买家在天使上拍下商品并成功付款到支付宝。货到付款交易中买家拍下商品即视为成交。<br>
  	  2.15下架，指将出售中的商品转移至线上仓库。 <br>
  	  2.16包邮，指商家对所售商品承担大陆地区首次发货的运费。 <br>
  	  <br/><h1>第三章 交易</h1>
  	  <strong>第一节 注册</strong><br>
  	  3.1.1会员应当严格遵循天使系统设置的注册流程完成注册。<br>
  	  天使会员在选择其天使会员名、天使店铺名或域名时应遵守国家法律法规，不得包含违法、涉嫌侵犯他人权利或干扰天使运营秩序等相关信息。<br>
  	  会员名注册后无法自行修改。<br>
  	  天使有权收回未通过支付宝实名认证且连续一年未登录天使的会员名。</a> <br>
  	  3.1.2商家必须满足以下条件，才有权申请加入天使：<br>
  	  （一）商家及其销售的商品符合当年度的《天使招商标准》；<br>
  	  （二）商家及其销售的商品符合当年度的《天使行业标准》；<br>
  	  （三）商家有效签署《天使商家服务协议》及其相关附属协议；<br>
  	  （四）商家符合天使要求的其他条件。<br>
  	  3.1.3会员符合以下任一情形的，其天使账户不得与支付宝账户取消绑定： <br>
  	  （一）已通过支付宝实名认证且发布过商品或创建过店铺；<br>
  	  （二）尚有未完结的交易或投诉举报；<br>
  	  （三）支付宝账户尚未被升级或尚有不可用状态款项。<br>
  	  3.1.4商家若发生以下任一情形，天使有权清退： <br>
  	  （一）未经商标注册人同意，更换其注册商标并将该更换商标的商品进行销售的；<br>
  	  （二）符合本规则总则中不当使用他人权利且情节严重的；<br>
  	  （三）向天使提供伪造、变造的商家资质或商品资料；<br>
  	  （四）商家违反《天使招商标准》的；<br>
  	  （五）商家多次违反本规则特定规定的；<br>
  	  （六）严重违规扣分达一百分</a>。<br>
  	  <strong>第二节 经营</strong><br>
  	  3.2.1会员须符合以下条件，方可按照天使系统设置的流程创建店铺： <br>
  	  （一）将其账户与通过实名认证的支付宝账户绑定<br>
  	  （二）公示或披露真实有效的姓名地址或营业执照等信息。<br>
  	  3.2.2会员应当按照天使系统设置的流程和要求发布商品。 <br>
  	  3.2.3“商品如实描述”及对其所售商品质量承担保证责任是商家的基本义务。“商品如实描述”是指商家在商品描述页面、店铺页面等所有天使提供的渠道中，应当对商品的基本属性、成色、瑕疵等必须说明的信息进行真实、完整的描述。<br>
  	  商家应保证其出售的商品在合理期限内可以正常使用，包括商品不存在危及人身财产安全的不合理危险、具备商品应当具备的使用性能、符合商品或其包装上注明采用的标准等。 <br>
  	  3.2.4商家的会员名、店铺名的命名应当严格遵守《天使店铺命名规范》。<br>
  	  3.2.5商家在天使发布商品应当严格遵守《天使行业标准》</a>。<br>
  	  <strong>第三节 评价</strong><br>
  	  3.3.1为了确保评价体系的公正性、客观性和真实性，天使将基于有限的技术手段，对违规交易评价、不当评价、恶意评价等破坏天使评价体系、侵犯买家知情权的行为予以坚决打击。<br>
  	  3.3.2买卖双方有权基于真实的交易在交易成功后十五天内进行评价。天使评价包括 “店铺评分”和“评论内容”，“评论内容”包括“文字评论”和“图片评论”。 <br>
  	  3.3.3评价人作出评价后不可对评价进行修改。<br>
  	  3.3.4店铺评分由买家对商家作出，包括商品与描述相符、商家服务态度、物流发货速度三项。每项店铺评分均为动态指标，系此前连续六个月内所有评分的算术平均值。<br>
  	  每个自然月，相同买、商家之间交易，商家店铺评分仅计取前三次。 店铺评分一旦做出无法修改。<br>
  	  
  	  3.3.5天使将根据平台运营需要，调整交易评价的开放逻辑。 <br>
  	  3.3.6天使有权删除违规交易产生的评价，包括但不限于本规则中规定的发布违禁信息、虚假交易等违规行为所涉及的订单对应的评价。<br>
  	  3.3.7天使有权删除或屏蔽评论内容中所包含的污言秽语、广告信息及其他有违公序良俗的信息。同时，天使将视情节严重程度，屏蔽该评价人后续一段时间内产生的评论内容；情节严重的，永久屏蔽其评论内容 。<br>
  	  3.3.8评价人被发现以给予低店铺评分、负面评论等方式，谋取额外财物或其它不当利益的恶意评价行为的，天使可删除该违规评价。<br>
  	  <br/><h1>第四章 市场管理</h1>
  	  <strong>第一节 市场管理措施</strong><br>
  	  4.1.1为了提升消费者的购物体验，维护天使市场正常运营秩序，天使按照本规则规定的情形对会员及其经营行为采取以下临时性市场管控措施： <br>
  	  （一）警告，是指天使通过口头或书面的形式对会员的不当行为进行提醒和告诫；<br>
  	  （二）商品下架，是指将会员出售中商品转移至线上仓库；<br>
  	  （三）单个商品搜索降权，是指调整商品在搜索结果中的排序；<br>
  	  （四）全店商品搜索降权，是指调整会员店铺内所有商品在搜索结果中的排序；<br>
  	  （五）单个商品搜索屏蔽，是指商品在搜索结果中不展现；<br>
  	  （六）单个商品单一维度搜索默认不展示，是指商品信息在按价格、信用、销量等单一维度的搜索结果中默认不展现，但可经消费者主动选择后展现；<br>
  	  （七）全店商品单一维度搜索默认不展示，是指会员店铺内所有商品在按价格、信用、销量等单一维度的搜索结果中默认不展现，但可经消费者主动选择后展现；<br>
  	  （八）限制参加营销活动，是指限制商家参加天使官方发起的营销活动；<br>
  	  （九）单个商品监管，是指在一定时间内商品信息无法通过搜索、商品链接等方式查看；<br>
      （十）店铺监管，是指在一定时间内会员店铺及店铺内所有商品信息无法通过搜索、店铺或商品链接等方式查看；<br>
      （十一）支付违约金，是指根据协议约定或本规则规定由商家向买家和/或天使支付一定金额的违约金。<br>
  	  （十）商家绑定的支付宝收款账户的强制措施，是指对与商家的天使账户绑定的支付宝收款账户采取的限制措施，包括但不限于取消收款功能、取消提现功能、禁止余额支付、交易账期延长、交易暂停、停止支付宝服务等。<br>
  	  <strong>第二节 市场管理情形</strong><br>
  	  4.2.1商家应积极提升自身经营状况，为消费者提供高品质的商品及优质的服务。对于符合商品品质好、服务质量高等情形的商家，天使会适当给予鼓励或扶持的措施。<br>
  	  4.2.2会员应遵照天使交易流程的各项要求进行交易，商家应合理保障买家权益。<br>
  	  会员如发生危及交易安全或天使账户安全的行为，天使将依照其行为的危险程度采取支付宝账户强制措施、关闭店铺、店铺监管、限制发货、限制网站登录、限制发送站内信、延长交易超时、限制买家行为、全店商品屏蔽及全店商品搜索降权等交易安全保护措施对其进行临时性的市场管控。 <br>
  	  4.2.3经新闻媒体曝光或国家质监部门通报系质量不合格的线下某一品牌、品类或批次的商品， 天使对于会员在线上发布的相关商品信息进行临时性下架或删除。<br>
  	  4.2.4天使商家及商品参与天使网其他市场的活动及展现时，应同时遵循其他市场的市场管理规定。<br>
  	  4.2.5商家应根据协议约定或规则规定缴纳或补足保证金。若保证金余额不足，且经天使催缴后未在十五天内缴纳或补足的，给予店铺监管，直至足额缴纳为止。<br>
  	  4.2.6商家应按照以下规定向天使提供相关资质： <br>
  	  （一）商家资质失效前，提供有效资质。<br>
  	  （二）在收到商家资质复检不合格通知之日起15天内，提供合格资质。<br>
  	  若未按上述规定提供资质的，天使将对其店铺进行店铺监管，直至提供合格资质为止。情节严重的，天使有权进行清退。<br>
  	  4.2.7商家应严格遵守《天使行业标准》</a>。商家若违反《天使行业标准》</a>中关于产品发布的规定，天使将对其违规商品给予下架并给予单个商品搜索降权三天的处理。<br>
  	  <br/><h1>第五章 违规行为及违规处理</h1>
  	  <strong>第一节 违规处理措施</strong><br>
  	  5.1.1为保障消费者、经营者或天使的正当权益，在会员违规处理期间天使按照本规则规定的情形对会员采取以下违规处理措施： <br>
  	  （一）店铺屏蔽，指在搜索、导航、营销等各项服务中对会员店铺及商品等信息进行屏蔽。<br>
  	  （二）限制发布商品，指禁止天使会员发布新商品。<br>
  	  （三）限制发送站内信，指禁止天使会员发送站内信。<br>
  	  （四）限制买家行为，指禁止天使会员购买商品。<br>
  	  （五）限制发货，指禁止天使会员操作处于“买家已付款，等待商家发货”状态的交易。<br>
  	  （六）限制网站登录，指禁止天使会员登录天使网页。<br>
  	  （七）关闭店铺，指删除天使会员的店铺，下架店铺内所有出售中的商品，禁止发布商品，并禁止创建店铺。<br>
  	  （八）公示警告，指在天使会员的店铺页面、商品页面界面，对其正在被执行的处理进行公示。<br>
  	  （九）查封账户，指永久禁止会员使用违规账户登录天使等工具。<br>
  	  <strong>第二节 违规处理</strong><br>
  	  5.2.1会员发生违规行为的，其违规行为应当纠正，并扣以一定分值且公布三天。违规扣分在每年的十二月三十一日二四时清零。<br>
  	  因分销商品引起的违规行为，若天使判定非分销商责任的，则分销商免于扣分，仅对违规行为进行纠正。 <br>
  	  5.2.2被执行节点处理的会员，当其全部违规行为被纠正、违规处理期间届满、违规处理措施执行完毕方可恢复正常状态。 <br>
  	  5.2.3就会员的首次或者非故意实施的违规行为,天使将视情形给予纠正和教育,并要求会员进行自检自查。<br>
  	  5.2.4会员可在被违规处理之时起总计3-30天不等的时间内(天使审核时间除外)通过线上违规申诉入口提交违规申诉申请。 <br>
  	  5.2.5违规行为根据严重程度分为严重违规行为及一般违规行为，两者分别扣分、分别累计、分别执行。<br>
  	  严重违规行为，是指严重破坏天使经营秩序或涉嫌违反国家法律法规的行为。<br>
  	  一般违规行为，是指除严重违规行为外的违规行为。<br>
  	  违规行为根据适用的范围分为通用违规行为及特殊市场违规行为，特殊市场违规行为也遵循前款规定的严重违规行为与一般违规行为划分。<br>
  	  5.2.6天使对会员的严重违规行为采取以下违规处理方式： <br>
  	  &nbsp;&nbsp;（一）商家严重违规扣分累计达二十五分</a>的，给予店铺屏蔽、限制发布商品、限制创建店铺、限制发送站内信、限制参加天使营销活动七天、向天使支付保证金的40%做为违约金处理；<br>
  	  &nbsp;&nbsp;（二）商家严重违规扣分累计达五十分</a>的，给予店铺屏蔽、下架店铺内所有商品、限制发布商品、限制创建店铺、限制发送站内信、限制参加天使营销活动十天、向天使支付保证金的60%做为违约金处理；<br>
  	  &nbsp;&nbsp;（三）商家严重违规扣分累计达七十五分</a>的，给予关闭店铺、限制发送站内信、限制参加天使营销活动二十天、向天使支付保证金的80%做为违约金处理；<br>
  	  &nbsp;&nbsp;（四）商家严重违规扣分累计达一百分</a>的，对商家做清退处理，查封账户并向天使支付部分或全部保证金作为违约金（该保证金是指商家被天使进行清退处理时，其店铺应缴纳的保证金金额）。 商家因单次违规扣分较大，导致累积扣分满足多个节点处理条件的，或在被处理期间又须执行同类节点处理的，仅执行最重的节点处理。<br>
  	  5.2.7天使对会员的一般违规行为采取以下违规处理方式： <br>
  	  （一）商家因一般违规行为，每扣二十五分即被给予限制参加天使营销活动七天、向天使支付保证金的20%做为违约金处理；<br>
  	  
  	  <strong>第三节 严重违规行为</strong><br>
  	  5.3.1发布违禁信息，是指会员发布国家禁止出售的商品或信息，即《天使禁售商品管理规范》</a>中构成严重违规行为的商品或信息。发布违禁信息的，依据《天使禁售商品管理规范》的相关规定执行。<br>
  	  5.3.2盗用他人账户，是指盗用他人天使账户或支付宝账户，涉嫌侵犯他人财产权的行为。盗用他人账户的，天使收回被盗账户并使原所有人可以通过账户申诉流程重新取回账户，每次扣一百分。 <br>
  	  5.3.3泄露他人信息 ，是指未经允许发布、传递他人隐私信息，涉嫌侵犯他人隐私权的行为。泄露他人信息的，每次 扣十二分；情节严重的，每次扣二十五分 。 <br>
  	  5.3.4骗取他人财物，是指以非法获利为目的，非法获取他人财物，涉嫌侵犯他人财产权的行为。骗取他人财物的，天使删除用以骗取他人财物的商品或信息及因此产生的交易评价，每次扣一百分。对前述骗取他人财物的受害方，天使将基于有限的技术手段采取临时性保护措施，包括但不限于支付宝账户强制措施、店铺监管、限制网站登录等。 <br>
  	  5.3.5出售假冒商品，每次扣一百分。出售假冒商品的，天使删除会员所发布的假冒商品或信息。同时为了防止对公众造成不利影响，保护消费者权益，对涉嫌违反上述情形的商家，天使视情节严重程度给予店铺监管。<br>
  	  5.3.6假冒材质成份，是指商家对商品全部材质或成份信息的描述与买家收到的商品完全不符的。商家使用假冒材质成份的，扣一百分；再次及以上假冒材质成份的，每次扣十分。特定类目商家假冒材质成份的，不论是否首次，每次扣十分。商家被扣十分累计达三次，扣四十分。假冒材质成份的，天使删除会员所发布的假冒材质成份的商品。 <br>
  	  5.3.7出售未经报关进口商品，是指出售未经正常中国海关报关程序的进口商品。出售未经报关进口商品的，天使删除会员所发布的未报关进口商品或信息，包括出售中及线上仓库中的商品或信息，每次扣一百分。同时为了防止对公众造成不利影响，保护消费者权益，对涉嫌违反上述情形的商家，天使视情节严重程度给予店铺监管。<br>
  	  5.3.8扰乱市场秩序，是指以任何方式，刻意规避天使的各类规则或市场管控措施，或以不正当的方式获取、使用天使官方资源的行为。扰乱市场秩序的，每次扣二十五分；情节特别严重的，每次扣一百分。 <br>
  	  5.3.9发布非约定商品，是指商家通过天使平台发布或出售未经天使许可的品牌的商品。每次扣二十五分；商家发布非约定商品的，天使将对商家所发布的非约定商品或信息进行删除处理。 <br>
  	  5.3.10不正当谋利，是指会员采用不正当手段谋取利益的行为，包括：<br>
  	  （一）向天使工作人员及/或其关联人士提供财物、消费、款待或商业机会等；<br>
  	  （二）通过其他手段谋取不正当利益的。<br>
  	  会员不正当谋利的，无论是否获得利益，每次扣一百分，天使永久不向其提供或接受其提供的任何产品或服务。<br>
  	  实施不正当谋利行为的运营服务商，天使永久不向其提供或接受其提供的任何产品或服务，由该运营服务商代运营的其它店铺亦应在收到天使通知之日起三个月内自营或更换运营服务商，逾期，则天使将对相关店铺进行监管直至其执行完毕。<br>
      实施不正当谋利行为的会员有如实主动申报及/或如实积极举报情形的，天使酌情给予从轻或减轻的处理措施。<br>
      自对会员进行不正当谋利调查之日起，天使将限制该会员店铺及其关联店铺参加天使营销活动，直至调查终结。<br>

  	  <strong>第四节 一般违规行为</strong><br>
  	  5.4.1发布禁售信息，是指会员发布《天使禁售商品管理规范》中构成一般违规行为的商品或信息。发布禁售信息的，依据《天使禁售商品管理规范》的相关规定执行。<br>
  	  5.4.2滥发信息，是指商家未按本规则及天使发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等）要求发布商品或信息，妨害买家权益的行为，每条扣2分 包括以下情形：<br>
  	  5.4.2.1发布广告信息；发布以下任一商品或信息的，删除该信息： <br>
  	  &nbsp;&nbsp;1、发布心情故事、店铺介绍等非实际交易信息；<br>
  	  &nbsp;&nbsp;2、发布非天使购物链接、实体店信息、银行账号及个人支付宝账户等信息，特殊情形除外；<br>
  	  &nbsp;&nbsp;3、在天使分销平台外发布批发、代理、招商类商品；<br>
  	  &nbsp;&nbsp;4、在商品标题、商品详情、店铺等中使用导购、团购、促销类网站的名称、LOGO等信息。<br>
  	  5.4.2.2发布重复信息每条扣2分<br>
  	  &nbsp;&nbsp;1、店铺中同时出售同款商品两件以上的，保留其中一款商品，删除其他同款商品；<br>
  	  &nbsp;&nbsp;2、开设两家以上店铺且出售同样商品的，保留其中一家店铺的品牌授权，取消其他店铺的品牌授权并删除该店铺该品牌的商品。<br>
  	  对涉嫌违反第一目规定的商品，天使将在两个工作日内进行人工排查，人工排查期内给予单个商品天使网搜索屏蔽。<br>
  	  5.4.2.3发布规避信息；发布以下商品或信息的，将删除该商品或信息每条扣2分：<br>
  	  &nbsp;&nbsp;1、以非常规的数量单位发布商品的；<br>
  	  &nbsp;&nbsp;2、刻意规避天使商品SKU设置规则发布商品的；<br>
  	  &nbsp;&nbsp;3、未经许可发布专营虚拟类目商品的。<br>
  	  对涉嫌违反第一、二目规定的商品，同时给予单个商品天使网搜索降权直至商品整改完成后第三天恢复。<br>
  	  对涉嫌违反第三目规定的商品，天使将在两个工作日内进行人工排查，人工排查期内给予单个商品天使网搜索屏蔽。<br>
  	  5.4.2.4发布错误描述信息；发布以下任一错误描述的商品或信息的，删除该商品或信息，每条扣2分：<br>
  	  &nbsp;&nbsp;1、商品信息中缺少标题、主图，或特殊类目商品缺少所售商品本身的实物图片；<br>
  	  &nbsp;&nbsp;2、商品标题、图片、价格、物流方式、邮费及售后服务等商品要素之间明显不匹配；<br>
  	  &nbsp;&nbsp;3、商品标题等信息不实或者与本商品无关的；<br>
  	  &nbsp;&nbsp;4、使用虚假的好评率、店铺评分、天使店铺类型，或使用与店铺实际信息不符的标识；<br>
  	  &nbsp;&nbsp;5、商品与所发布的类目或属性不符的；<br>
  	  &nbsp;&nbsp;6、商品与所发布的类目或属性不符且造成严重后果的。<br>
  	  对违反第五项中第二、三、五、六目规定的商品，天使同时给予单个商品天使网搜索降权直至商品整改完成后第三天恢复。<br>
  	  5.4.2.5滥发其他信息，每条扣2分  <br>
  	  &nbsp;&nbsp;1、除天使特殊类目及特殊情形的商品外，商家在买家付款前且商品信息显示有足够库存的情况下，以任何理由表示不能在七十二小时内完成发货的，下架该商品。<br>
  	  &nbsp;&nbsp;2、发布以下信息的，删除该信息：<br>
  	  代他人申请具有专属性的权利，包括申请天使店铺装修市场设计师等。<br>
  	  &nbsp;&nbsp;3、商家若发布除以上情形之外其它有违公序良俗和《天使服务协议》的商品或信息，天使可对该商品或信息进行临时性下架或删除。<br>
  	  5.4.3虚假交易，是指用户通过虚构或隐瞒交易事实、规避或恶意利用信用记录规则、干扰或妨害信用记录秩序等不正当方式获取虚假的商品销量、店铺评分、信用积分等不当利益，妨害买家权益的行为。虚假交易的，天使将对卖家的违规行为进行纠正，包括删除虚假交易产生的商品销量、店铺评分、信用积分、商品评论，情节严重的，还将下架店铺内所有商品。同时，天使将按照如下规定对卖家进行处理：<br>
  	  （一）卖家第一次发生虚假交易行为扣二十五分<br>
  	  （二）卖家第二次发生虚假交易行为扣五十分<br>
  	  （三）卖家第三次及以上发生虚假交易行为，视为情节严重，扣一百分；<br>
  	  （四）若卖家短期内产生大规模虚假交易行为，视为情节严重，扣一百分，同时给予天使卖家30天的全店商品天使网搜索降权和天使搜索降权；<br>
      （五）累计三次以上被认定为“情节严重”的虚假交易行为，扣一百分；<br>
      （六）违反上述第(四)项规定后，再次发生大量虚假交易行为，扣一百分；<br>
      （七）存在手段恶劣、行为密集、规模庞大、后果严重、恶意对抗监管等特殊情节，每次扣一百分；<br>
      （八）为他人提供虚假交易服务，每次扣5分。<br>

  	  天使对涉嫌虚假交易的商品，给予30天的单个商品天使网搜索降权和单个商品天使搜索降权。如某商品发生多次虚假交易的，搜索降权时间滚动计算。<br>
  	  买家如协助卖家进行虚假交易的，天使将视情节严重程度采取关闭订单、新增订单不计销量和/或不开评价入口、删除违规交易产生的信用积分、信用积分清零、警告、身份验证、限制创建店铺、限制发送站内信、限制发布商品、限制网站登录、限制买家行为、限制发起投诉、延长交易超时等处理措施。<br>
  	  5.4.4延迟发货，是指除特殊商品外，商家在买家付款后实际未在七十二小时内发货，或定制、预售及其他特殊情形等另行约定发货时间的商品，商家实际未在约定时间内发货，妨害买家购买权益的行为。商家的发货时间，以快递公司系统内记录的时间为准，每单扣一分，七日内累计不得超过25分 。<br>
  	  延迟发货的，商家需向买家支付该商品实际成交金额的百分之三十（金额最高不超过五百元）作为违约金，该违约金将以扣除保证金形式支付。<br>
      滥用延迟发货规则发起赔付申请的，天使不强制支持赔付，由买卖双方自行协商确定。</p>
    	<p>5.4.5描述不符，是指买家收到的商品或经天使官方抽检的商品与达成交易时商家对商品的描述不相符，商家未对商品瑕疵、保质期、附带品等必须说明的信息进行披露，妨害买家权益的行为，包括以下情形： <br>
  	  （一）商家对商品材质、成份等信息的描述与买家收到的商品严重不符，或导致买家无法正常使用的，天使删除该描述不符的商品，每次扣二十五分；<br>
  	  （二）商家未对商品瑕疵等信息进行披露或对商品的描述与买家收到的商品不相符，且影响买家正常使用的，天使下架该描述不符的商品，每次扣十二分</a>，商家被扣分累计达四次，则自第五次起，每次扣严重违规行为5分；<br>
  	  （三）商家未对商品瑕疵等信息进行披露或对商品的描述与买家收到的商品不相符，但未对买家正常使用造成实质性影响的，每次扣六分；<br>
  	  （四）被抽检商品描述不符情形特别轻微的，只删除商品信息不扣分。<br>
  	  5.4.6违背承诺，是指商家未按照承诺向买家提供以下服务妨害买家权益和/或未按照承诺向天使履行以下义务的行为。违背承诺的，商家须继续履行法定或约定的如实描述、赔付、退货、换货、维修、交付发票等义务。 <br>
  	  5.4.6.1商家违背以下任一承诺的，每次扣十二分：<br>
  	  &nbsp;&nbsp;1、天使判定商家确实应该承担退货退款等售后保障责任但商家拒绝承担的；<br>
  	  &nbsp;&nbsp;2、天使判定商家确实应该承担七天无理由退换货售后保障责任但商家拒绝承担的；<br>
  	  &nbsp;&nbsp;3、加入天使官方活动的商家，未按照活动要求（除发货时间外）履行的；<br>
  	  5.4.6.2商家违背以下任一承诺的，应承当相应的后果和责任。如需继续履行的，天使将督促商家继续履行其义务：<br>
  	  &nbsp;&nbsp;1、商家拒绝提供或者拒绝按照承诺的方式提供发票的（特定商品除外）；<br>
  	  5.4.6.3商家就已付款订单或特殊情形下对应的商品或服务有未履行的其它承诺的，每次扣八分。<br>
  	  天使官方发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等），对上述行为的规定符合特定情形的，从其规定。<br>
  	  除上述列举的行为外，天使官方发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等）中认为构成违背承诺行为的，从其规定。 <br>
  	  5.4.7恶意骚扰，是指会员采取恶劣手段骚扰他人，妨害他人合法权益的行为。恶意骚扰的，每次扣二十五分。<br>
  	  5.4.8不当注册，是指用户通过软件、程序等方式，大批量注册天使账户；或通过已注册的天使账户，滥用会员权利损害他人合法权益、妨害天使运营秩序的行为。不当注册的，天使对使用软件、程序方式大批量注册而成的账户进行查封，并对滥用权利导致的订单予以关闭，每次扣二十五分。<br>
  	  对于天使排查到的涉嫌不当注册的会员，天使将视情节采取警告、身份验证、限制创建店铺、限制发送站内信、限制发布商品、限制网站登录、限制买家行为、限制发起投诉、延长交易超时等临时性管控措施。<br>
  	  5.4.9未依法公开或更新营业执照信息，指通过支付宝实名认证中企业类认证的商家，未在天使规定的期间内公开或及时更新其营业执照信息的行为。未依法公开或更新营业执照信息的，或未在其营业执照信息变更完成之日起三十天内更新的，商家需公开或更新其营业执照信息，每次扣二十五分。 <br>
  	  5.4.10不当使用他人权利，是指用户发生以下任一行为的，每次扣四分：<br>
  	  （一） 商家在所发布的商品信息或所使用的店铺名、域名等中不当使用他人商标权、著作权等权利的；<br>
  	  （二） 商家出售商品涉嫌不当使用他人商标权、著作权、专利权等权利的；<br>
  	  （三） 商家所发布的商品信息或所使用的其他信息造成消费者混淆、误认或造成不正当竞争的。<br>
  	  
  	  <strong>第五节 违规的执行</strong><br>
  	  5.5.1用户的违规行为，通过天使会员、权利人的投诉或天使排查发现。 <br>
  	  5.5.2对违规行为的投诉，除发布禁售信息、滥发信息、虚假交易、不当注册、发布违禁信息、出售假冒商品、出售未经进口报关商品、假冒材质成份、不当使用他人权利、盗用他人账户、泄露他人信息、发布非约定商品可随时提交投诉外，其余须在以下规定时间内进行投诉；未在规定时间内投诉的，不予受理： <br>
  	  （一）违背承诺的投诉时间为交易关闭后十五天内；<br>
  	  （二）描述不符、骗取他人财物的投诉时间为交易成功后十五天内。<br>
  	  5.5.3对延迟发货、违背承诺及恶意评价的违规行为，被投诉人须在被投诉之日起两天内提交证据。逾期未提交证据的，天使有权根据当时所掌握的情况进行判断与处理。对其余违规行为的判断与处理，天使在收到投诉后立即进行。 <br>
  	  5.5.4商家自行作出的承诺或说明与本规则相悖的，天使不予采信。除证据有误或判断错误的情形外，对违规行为的处理不中止、不撤销。 <br>
  	  附则:<br>
  	  &nbsp;&nbsp;1.天使用户的行为，发生在本规则生效或修订以前的，适用当时的规则；发生在本规则生效或修订以后的，适用本规则。<br>
  	  &nbsp;&nbsp;2.本规则中的以上，包含本数；本规则中的以下，不包含本数。<br>
  	  &nbsp;&nbsp;3.本规则中的“天”，以24小时计算。<br>
    </p>
    	
    	
    	
    	</div>
    	
    </div>

	
</div>
</div>	
	
$!httpInclude.include("/footer.htm")
</body>
</html>