    <div class="slideBox">
      <div class="hd">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="bd">
        <ul>
          <li style="background: url($!webPath/assets/img/1739810699.jpg) 50% 0px no-repeat;">
          </li>
          <li style="background: url($!webPath/assets/img/2167669509.jpg) 50% 0px no-repeat;">
          </li>
          <li style="background: url($!webPath/assets/img/2167669501.jpg) 50% 0px no-repeat;">
          </li>
        </ul>
      </div>
    </div>
        
	
    

